{% extends "_layout.html" %}

{% block body %}
<div id="fullpart">
<p>&nbsp;</p>
            <h2>ITCell libraries</h2>
<p></p>

 <p>This page hosts the libraries needed by
<a href="https://github.com/salilab/itcell-lib">ITCell</a>, a method for
 integrative T-cell epitope prediction. See the ITCell website for more
information on installing these libraries.</p>

<p><a href="libs.tar.xz">libs.tar.xz</a> (3.3GB download; SHA256SUM 26131aa33ef39c162f893d43701d4c6934a6846137167c4dc3e8ae1ecf97d3b5)</p>

<p>Note that the same files are also available at the following DOI:
<a href="https://doi.org/10.5281/zenodo.3226992">10.5281/zenodo.3226992</a></p>

</div> <!-- end div fullpart -->
{% endblock %}
