{% extends "cabo/_layout.html" %}
{% set current_page = "Feedback" %}

{% block body %}
<H2> Feedback Instructions</H2>
	<p>
	Thank you for attending the Scripps/UCSF Conference.
	As in previous years, we will compile a report on this year's conference.  
    <p> The report will consist of individual summaries
	 by all of the participants that you can fill online at:
	</p>
	
	<li><a href="/cabo/FeedbackPI.html">Form for Principal Investigators</a></li>
	<li><a href="/cabo/FeedbackPostDoc.html">Form for postdocs and students</a></li>
	
	
    
<p>Please describe your topic and a brief summary of your research (1 paragraph).</p>

<p>Please provide a paragraph on your impressions of the meeting, including your thoughts or ideas on: <br />
<li>(a)	the optimal size of the group</li>
<li>(b)	location of the meeting</li>
<li>(c)	attendees and presenters </li>
<li>(d)	length of the meeting, and</li>
<li>(e)	 any other comments</li>
{% endblock %}
