{% extends "cabo/_layout.html" %}
{% set current_page = "History" %}

{% block body %}
<p></p>
<H2>Pictures</H2>
<p><a href="//salilab.org/cabo/Cabo2013/Pics2025.html">2025 group picture</a></p>
<p><a href="//salilab.org/cabo/Cabo2013/Pics2024.html">2024 group picture</a></p>
<p><a href="//salilab.org/cabo/Cabo2013/Pics2023.html">2023 group picture</a></p>
<p><a href="//salilab.org/cabo/Cabo2013/Pics2022.html">2022 group picture</a></p>
<p><a href="//salilab.org/cabo/Cabo2013/Pics2019.html">2019 group picture</a></p>
<p><a href="//salilab.org/cabo/Cabo2013/Pics2018.html">2018 group picture</a></p>
<p><a href="//salilab.org/cabo/Cabo2013/Pics2017.html">2017 group picture</a></p>
<p><a href="//salilab.org/cabo/Cabo2013/Pics2015.html">2015 group picture and photos of the venue</a></p>
<p><a href="//salilab.org/cabo/Cabo2013/index.html">2013 group picture and photos of the venue</a></p>
<p><a href="//salilab.org/cabo/Cabo2013/Pics2011.html">2011 group picture</a></p>
<p><a href="//salilab.org/cabo/Cabo2010/index.html">2010 group picture and photos of the venue</a></p>

<H2>Reports</H2>
<p><a href="//salilab.org/cabo/Cabo_Report_22.pdf">2022 Report</a></p>
<p><a href="//salilab.org/cabo/Cabo_Report_19.pdf">2019 Report</a></p>
<p><a href="//salilab.org/cabo/Cabo_Report_18.pdf">2018 Report</a></p>
<p><a href="//salilab.org/cabo/Cabo_Report_17.pdf">2017 Report</a></p>
<p><a href="//salilab.org/cabo/Cabo_Report_16.pdf">2016 Report</a></p>
<p><a href="//salilab.org/cabo/Cabo_Report_15.pdf">2015 Report</a></p>
<p><a href="//salilab.org/cabo/092514_Cabo 2014 Booklet_COMPLETE.pdf">2014 Report</a></p>
<p><a href="//salilab.org/cabo/Cabo_Report_2013.pdf">2013 Report</a></p>
<p><a href="//salilab.org/cabo/Cabo_Report_12.pdf">2012 Report</a></p>
<p><a href="//salilab.org/cabo/Cabo_Report_11.pdf">2011 Report</a></p>
<p><a href="//salilab.org/cabo/Cabo_Report_10.pdf">2010 Report</a></p>
<p><a href="//salilab.org/cabo/Cabo_Report_08.pdf">2008 Report</a></p>
<p><a href="//salilab.org/cabo/Cabo_Report_07.pdf">2007 Report</a></p>
<p><a href="//salilab.org/cabo/Cabo_Report_06.pdf">2006 Report</a></p>
{% endblock %}
