{% extends "cabo/_layout.html" %}
{% set current_page = "Register" %}

{% block body %}
<H2>Registration Information</H2>

<p>The next Scripps/UCSF conference will take place May 1 - May 4, 2026.</p>
<p>Registration is open, by invitation only.</p>

<p>Please send an email to <a href="mailto:Steve.Ha@ucsf.edu">Steven Ha</a> if you have any questions.</p>

<!--
<p>Provisional dates of future Scripps/UCSF conferences:</p>
<ul>
<li>May 1-4, 2021</li>
<li>May 7-10, 2022</li>
<li>May 6-9, 2023</li>
</ul>
-->

{% endblock %}
