{% extends "_layout.html" %}

{% block body %}
<div id="fullpart">
        <h3>Acknowledgments</h3>

    <div id="acks">

    <p>Our work in the Sali lab is generously supported by:</p>

    <p><a href="https://www.nih.gov/"><img src="/img/nih.png" alt="NIH logo" height="80px" ></a>

    <a href="https://www.nsf.gov/"><img src="/img/nsf.jpg" alt="NSF logo" height="80px" ></a>

    <a href="https://nebius.com/"><img src="/img/nebius.png" alt="Nebius logo" height="40px" style="padding-bottom: 20px"></a></p>

    <p>Andrej Sali is also a cofounder of <a href="https://www.quantatx.com/">Quanta Therapeutics</a>.</p>

    </div>


</div> <!-- end div fullpart -->
{% endblock %}
