{% extends "_layout.html" %}

{% block body %}
<div id="fullpart">
            <h3>Directions & Lodging</h3>
          <h4><p>General Information for Guests: Entry is via Genentech Hall, provide the guard with your ID to receive a guest badge</font></p></h4>
          <p><a href="http://memory.ucsf.edu/sites/all/files/download/UCSF_MAC_MissionBay_Map.pdf">Driving Directions</a></p>
          <p><a href="http://campuslifeservices.ucsf.edu/transportation/parking/public/">Public Parking</a></p>
          <p><a href="https://www.ucsf.edu/maps/">Mission Bay Campus Sitemap </a></p>
          <p><a href="http://campuslifeservices.ucsf.edu/cls">Campus Life Services</a></p>
          <p>&nbsp;</p></h3>
          <iframe sandbox="allow-scripts" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=600+16th+St,+San+Francisco,+CA+94158&amp;sll=37.764371,-122.389369&amp;sspn=0.023036,0.036864&amp;ie=UTF8&amp;s=AARTsJptsLzCrZ7rDEUt5WOF1f2oxVGJ-w&amp;ll=37.768137,-122.393961&amp;spn=0.023747,0.036478&amp;z=14&amp;output=embed"></iframe><br /><small><a href="//maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;&amp;sll=37.764371,-122.389369&amp;sspn=0.023036,0.036864&amp;ie=UTF8&amp;ll=37.768137,-122.393961&amp;spn=0.023747,0.036478&amp;z=14" text-align:left">View Larger Map</a></small>          

	  <h4><p>Suggested Accomodations for Guests (Request UCSF Rates):</font></p></h4>
           <ul>
            <li><a href="http://www.harborcourthotel.com">Harbour Court Hotel</a></li>
                District: Embarcadero (10 minutes driving to Mission Bay).<br>
                Rates: $210.00 and up plus hotel taxes.<br>
                Remarks: Convenient for Mission Bay guests.
            <li><a href="http://www.hotelgriffon.com/">Hotel Griffon</a></li>
                District: Embarcadero (In between Mission Bay Campus and Fisherman's Wharf). <br>
                Rates: $175 and up.
            <li><a href="http://www.stanyanpark.com">Stanyan Park Hotel</a></li>
                District: Haight Ashbury (walking distance to Parnassus Campus).<br>
                Rates: $140.00 for standard room (UCSF negotiated rate)</li> (direct billing).
            <li><a href="http://www.inn1890.com">Inn 1890 Bed and Breakfast</a></li>
                District: Haight Ashbury (walking distance to Parnassus Campus).<br>
                Rates: $89.00-$159.00 plus hotel taxes.<br>
                Remarks: Breakfast included. Relaxed and friendly environment.
            <li><a href="http://www.HarperHouseB-B.com">The Harper House</a></li>
        District: Haight Ashbury (walking distance to Parnassus Campus).<br>
        Remarks: The Harper House rents apartments monthly. Furnished rooms. Great for short term visitors.</li>

</ul>

	  <h4><p>Recommended Accomodations Near SF Airport (No UCSF Rates):</font></p></h4>
           <ul>
            <li><a href="https://www.sfocp.com/">Crowne Plaza San Francisco Airport</a></li>
            <li><a href="https://www.hyatt.com/en-US/hotel/california/hyatt-regency-san-francisco-airport/sfobu">Hyatt Regency San Francisco Airport</a></li>
            <li><a href="https://www.marriott.com/en-us/hotels/sfowi-the-westin-san-francisco-airport/overview/">The Westin San Francisco Airport</a></li>
            <li><a href="https://www.marriott.com/en-us/hotels/sfobg-san-francisco-airport-marriott-waterfront/photos/">San Francisco Airport Marriott Waterfront</a></li>
	   </ul>
<p>See also UCSF resources for <a href="http://campuslifeservices.ucsf.edu/housing/services/off_campus_housing/short_term_housing">short term housing </a> and
<a href="http://www.suiteamerica.com/complex_area.cfm?city=San%20Francisco&amp;CST=CA&amp;titleText=Corporate%20Apartments">long term rentals</a>.</p>

           </div> <!-- end div fullpart -->
{% endblock %}
