{% extends "_layout.html" %}

{% block body %}
<div id="middle">
        <div id="mainpart">
	  
	    <h3>Integrative Structural Biology</h3>

            We aim to develop and apply computational methods for integrative
            determination of the structures and dynamics of macromolecular
            assemblies, in turn informing the function and evolution of these
            systems as well as how to modulate them. The broad goal is to
            contribute to a predictive spatiotemporal model of the cell.
            This goal is being achieved by a formal integration of experiment,
            physics, and statistical inference, spanning all relevant size
            and time scales. Our computational methods are implemented in
            the open source
            <a href="https://integrativemodeling.org">Integrative Modeling
            Platform</a> package (IMP) and the resulting models are deposited
            in the <a href="https://pdb-ihm.org/">PDB-IHM</a> database.
            This research enhances the discovery
            of general principles that underlie all cellular processes,
            which in turn also facilitates drug discovery.
       </div> <!-- end diff mainpart -->
        <div class="hidden">
            The Sali Group is a member of the <a href="http://www.ncdir.org/">National Center for Dynamic Interactome Research (NCDIR)</a>.
        </div>
       <div id="news">

	   <h3>News</h3>
	   <div id="newstext" class="flexcroll">
                     <p><b>Postdoctoral positions at the Quantitative Biology Institute available:</b><br>
The Quantitative Biology Institute (QBI) at the University of California, San Francisco, is recruiting six postdoctoral fellows in the area of computational structural biology. See the <a href="positions/pd_qbi_22.html">description of these positions</a> for more information.
</p>

                     <p><b>PDB creates an archive for integrative structures: </b><br>
wwPDB has created a new archive, <a href="https://pdb-dev.wwpdb.org/">PDB-Dev</a>,
for storing structural models obtained through use of integrative methods.
It contains a rapidly-growing number of such models, produced with software
including our own <a href="https://integrativemodeling.org">IMP</a> package.
</p>
                     <p><b>Congratulations to Daniel: </b><br>
Daniel Saltzberg has received the Lilly Research Award!</p>

                     <p><b>Congratulations to SJ: </b><br>
The paper "Integrative Structure and Functional Anatomy of a Nuclear Pore Complex" has been published in Nature!</p>

                     <p><b>Congratulations to Sara: </b><br>
The paper "Prediction of enzymatic pathways by integrative pathway mapping" has been published in eLife!</p>

                     <p><b>Congratulations to Sara: </b><br>
Sara Calhoun received the Mel Jones Excellence in Graduate Student Research Award ! </p>
             <p><b>Congratulations to Adrian: </b><br>
Adrian Stecula is a recipient of an AFPE Pre-Doctoral Award in Pharmaceutical Science! </p>
       <p><b>Congratulations to Ilan: </b><br>
Ilan Chemmama has received a 3 year NSF fellowship ! </p>
                            <p><b>Congratulations to Kate: </b><br>
Kate Stafford has received a 3 year NRSA fellowship ! </p>
              <p><b>Congratulations to Adrian: </b><br>
Adrian is a recipient of the PhRMA fellowship in Pharmacology/Toxicology ! </p>
<p><strong>Congratulations to Jeremy Horst:</strong> His recent publication was highlighted by the <a href="http://sbkb.org/update/research/drug-discovery-finding-druggable-targets">Structural Biology Knowledgebase</a>. </p>
<p><strong>Announcement:</strong> <br>Workshop on <strong>Theoretical Model Archiving, Validation and PDBx/mmCIF Data Exchange Format.</strong><br>October 21 & 22, 2013 <br>Rutgers University, NJ.<br> <a href=http://www.proteinmodelportal.org/workshop-2013/>http://www.proteinmodelportal.org/workshop-2013</a><br></p>
       <p><b>Congratulations to Natalia: </b><br>
Natalia is a recipient of a 2013-2014 Merit Fellowship Award - an Achievement Rewards for College Scientists (ARCS) Scholarship ! </p>
       <p><b>Congratulations to SJ: </b><br> 
The paper "Structure, Dynamics, Evolution, and Function of a Major Scaffold Component
in the Nuclear Pore Complex", P. Sampathkumar, et al, has been published in Structure!
We also congratulate Graham Johnson of UCSF for the great cover image! </p>
       <p><b>Congratulations to Javi: </b><br>
We wish him the best in his position as Bioinformatics Analyst at Cypher Genomics!</p>
<p><b>Congratulations to Avner: </b><br>
We wish him the best in his new position as Assistant Professor at Mount Sinai Hospital !</p>
       <p><b>Congratulations to Jeremy and Peter: </b><br>
Jeremy won the Frank M. Goyan Award for Excellence in Physical Chemistry and Peter has received the 2012 School of Pharmacy Research Award !</p>
                        <p><b>Congratulations to Keren: </b><br>
The paper "Molecular architecture of the 26S proteasome holocomplex determined by an integrative approach", K. Lasker, et al, has been accepted for publication in PNAS !</p>
       <p><b>Congratulations to Riccardo on the news of his Swiss National Science Foundation fellowship!! </b><br></p>
                  <p><b>Congratulations to Avner: </b><br>
The paper "Structure-based discovery of prescription drugs that interact with the norepinephrine transporter, NET", A. Schlessinger, E. Geier, H. Fan, J. Irwin, B. Shoichet, K. Giacomini, A. Sali, has been accepted for publication in PNAS !</p>
       <p><b>Congratulations to Peter on being awarded the Howard Hughes Medical Institutes Predoctoral Fellowship!! </b><br>
        </p>
       <p><b>Congratulations Charles on being awarded the NSF Graduate Research Fellowship!! </b><br>
        </p>

	  </div> <!-- end div newstext -->
	
       </div> <!--end div news -->
    </div> <!-- end middle -->

    <div id="bottom_part">
       <div id="publications">
		<h3>Selected Publications</h3>
			<ul>
			<li>
		      	S. Otsuka, J.O.B. Tempkin, W. Zhang, A.Z. Politi, A. Rybina, M.J. Hossain, M. Kueblbeck, A. Callegari, B. Koch, N.R. Morero, A. Sali, J. Ellenberg.
   			"A quantitative map of nuclear pore assembly reveals two distinct mechanisms" <i>Nature</i> 613, 575-581, 2023.
			<a href="https://pubmed.ncbi.nlm.nih.gov/36599981"><img src="img/pubmed.png" border=0  alt="PubMed" height=15px></a>
			<a href="//salilab.org/pdf/Otsuka_Nature_2023.pdf"><img src="img/pdf.gif" border=0  alt="PDF" height=15px></a>
			</li><li>
		      	B. Raveh, L. Sun, K.L. White, T. Sanyal, J. Tempkin, D. Zheng, K.B. Pilla, J. Singla, C. Wang, J. Zha, A. Li, N.A. Graham, C. Kesselman, R.C. Stevens, A. Sali.
   			"Bayesian metamodeling of complex biological systems across varying representations" <i>Proc Natl Acad Sci USA</i> 118, e2104559118, 2021.
			<a href="https://pubmed.ncbi.nlm.nih.gov/34453000"><img src="img/pubmed.png" border=0  alt="PubMed" height=15px></a>
			<a href="//salilab.org/pdf/Raveh_ProcNatlAcadSciUSA_2021.pdf"><img src="img/pdf.gif" border=0  alt="PDF" height=15px></a>
			</li><li>
S.J. Kim, J. Fernandez-Martinez, I. Nudelman, Y. Shi, W. Zhang, B. Raveh, T. Herricks, B.D. Slaughter, J. Hogan, P. Upla, I.E. Chemmama, R. Pellarin, I. Echeverria, M. Shivaraju, A.S. Chaudhury, J. Wang, R. Williams, J.R. Unruh, C.H. Greenberg, E.Y. Jacobs, Z. Yu, M.J. de la Cruz, R. Mironska, D.L. Stokes, J.D. Aitchison, M.F. Jarrold, J.L. Gerton, S.J. Ludtke, C.W. Akey, B.T. Chait, A. Sali, M.P. Rout. "Integrative Structure and Functional Anatomy of a Nuclear Pore Complex" <i>Nature</i> 555, 475-482, 2018.  
			<a href="https://pubmed.ncbi.nlm.nih.gov/29539637"><img src="img/pubmed.png" border=0  alt="PubMed" height=15px></a>

            <a href="//salilab.org/npc2018"><img src="img/ellipsis.gif" border=0 alt="..." height=15px ></a>
			</li><li>

A. Sali. "From integrative structural biology to cell biology" <i>J Biol Chem</i> 100743, 2021.

			<a href="https://pubmed.ncbi.nlm.nih.gov/33957123/"><img src="img/pubmed.png" border=0  alt="PubMed" height=15px></a>

			<a href="//salilab.org/pdf/Sali_JBiolChem_2021.pdf"><img src="img/pdf.gif" border=0  alt="PDF" height=15px></a>
			</li>
            </ul>
        </div> <!-- end div publications -->

      
       <div id="images">
	    <h3>Gallery</h3>
       <div id="imageslist" class='flexcroll'>
<a href="img/gallery/image10.gif"><img src="img/gallery/thumb10.gif" alt="Transport through the NPC"></a>
<a href="img/gallery/image11.gif"><img src="img/gallery/thumb11.gif" alt="Ribosome"></a>
<a href="img/gallery/image12.gif"><img src="img/gallery/thumb12.gif" alt="Cell modeling"></a>
<a href="img/gallery/image13.gif"><img src="img/gallery/thumb13.gif" alt="Example protein structure"></a>
<a href="img/gallery/image14.gif"><img src="img/gallery/thumb14.gif" alt="Protein-ligand docking"></a>
<a href="img/gallery/image15.gif"><img src="img/gallery/thumb15.gif" alt="Docking of comparative models"></a>
<a href="img/gallery/image16.gif"><img src="img/gallery/thumb16.gif" alt="Localization density map of the NPC, side view"></a>
<a href="img/gallery/image17.gif"><img src="img/gallery/thumb17.gif" alt="Localization density map of the NPC, top view"></a>
<a href="img/gallery/image19.gif"><img src="img/gallery/thumb19.gif" alt="Deterining the structures of proteins and macromolecular assemblies"></a>
<a href="img/gallery/image1.gif"><img src="img/gallery/thumb1.gif" alt="Flagellar motor"></a>
<a href="img/gallery/image20.gif"><img src="img/gallery/thumb20.gif" alt="Goal of modeling"></a>
<a href="img/gallery/image21.gif"><img src="img/gallery/thumb21.gif" alt="Mindset of modeling"></a>
<a href="img/gallery/image22.gif"><img src="img/gallery/thumb22.gif" alt="Using all spatial information"></a>
<a href="img/gallery/image23.gif"><img src="img/gallery/thumb23.gif" alt="Structure determination of macromolecular assemblies"></a>
<a href="img/gallery/image24.gif"><img src="img/gallery/thumb24.gif" alt="Characterizing structures by satisfaction of spatial restraints"></a>
<a href="img/gallery/image25.gif"><img src="img/gallery/thumb25.gif" alt="IMP building blocks"></a>
<a href="img/gallery/image26.gif"><img src="img/gallery/thumb26.gif" alt="Compariatve protein structure modeling"></a>
<a href="img/gallery/image27.gif"><img src="img/gallery/thumb27.gif" alt="Principles of protein structure"></a>
<a href="img/gallery/image28.gif"><img src="img/gallery/thumb28.gif" alt="Model accuracy determines utility"></a>
<a href="img/gallery/image29.gif"><img src="img/gallery/thumb29.gif" alt="Modeller flowchart"></a>
<a href="img/gallery/image2.gif"><img src="img/gallery/thumb2.gif" alt="Molecular motor model"></a>
<a href="img/gallery/image30.gif"><img src="img/gallery/thumb30.gif" alt="Errors in comparative models vs. resolution"></a>
<a href="img/gallery/image31.gif"><img src="img/gallery/thumb31.gif" alt="Protein structure modeling in an EM map"></a>
<a href="img/gallery/image32.gif"><img src="img/gallery/thumb32.gif" alt="S. cerevisiae ribosome"></a>
<a href="img/gallery/image33.gif"><img src="img/gallery/thumb33.gif" alt="What is known about the NPC structure?"></a>
<a href="img/gallery/image34.gif"><img src="img/gallery/thumb34.gif" alt="Protein localization probability and volume"></a>
<a href="img/gallery/image35.gif"><img src="img/gallery/thumb35.gif" alt="Configuration of 456 proteins in the Nuclear Pore Complex"></a>
<a href="img/gallery/image36.gif"><img src="img/gallery/thumb36.gif" alt="Configuration of proteins in NPC? Use all information"></a>
<a href="img/gallery/image37.gif"><img src="img/gallery/thumb37.gif" alt="Assembling the NPC structure"></a>
<a href="img/gallery/image38.gif"><img src="img/gallery/thumb38.gif" alt="Side view of transport through the NPC"></a>
<a href="img/gallery/image3.gif"><img src="img/gallery/thumb3.gif" alt="Protein structure fitted into an EM map"></a>
<a href="img/gallery/image40.gif"><img src="img/gallery/thumb40.gif" alt="Module architecture of the NPC"></a>
<a href="img/gallery/image4.gif"><img src="img/gallery/thumb4.gif" alt="Point model of the NPC"></a>
<a href="img/gallery/image5.gif"><img src="img/gallery/thumb5.gif" alt="Localization of all NPC proteins"></a>
<a href="img/gallery/image6.gif"><img src="img/gallery/thumb6.gif" alt="Architecture of the NPC"></a>
<a href="img/gallery/image7.gif"><img src="img/gallery/thumb7.gif" alt="Assembly of subunits by combining restraints with optimization"></a>
<a href="img/gallery/image8.gif"><img src="img/gallery/thumb8.gif" alt="Membrane protein"></a>
<a href="img/gallery/image9.gif"><img src="img/gallery/thumb9.gif" alt="Assembly of the NPC"></a>
         </div> <!-- end div images-->
         </div> <!-- end div images-->
     </div> <!-- end div bottom_part -->
{% endblock %}
