{% extends "_layout.html" %}

{% block body %}
<div id="fullpart">
    <h3>Lab Members</h3>
    <p align="center"><a href="img/group_photos/"><img src="img/group_photos/sali_group2010_2.jpg" height="100" border="0"></a></p>
    <h5><center><a href="lab_members/former.html">Former Lab Members</a></center></h5>
    
    <h4>Group Leader</h4>
    <div class="membergroup">
        <div class="member">
          <div class="picture"><a href="http://salilab.org/sali/"><img src="img/people/andrej1_small.gif" width="80px" border=0 align=right /></a>
            <p class="footnote">photo: © <a href="http://majedphoto.com">majedphoto.com</a></p>
          </div>
          <h4><a href="https://salilab.org/sali/">Andrej Sali</a></h4> <h5>Professor</h5>
        </div> <!-- end div member, copy until here, including this line -->
    </div>

    <h4>Administrative Assistant</h4>
    <div class="membergroup">
        <div class="member">
          <div class="picture">
          </div>
          <h4>Steve Ha</h4>
          <script>escramble("Steve.Ha", "ucsf.edu")</script>
        </div> <!-- end div member, copy until here, including this line -->
    </div>

<!--<h4>Visitors</h4>
    <div class="membergroup">

    </div>-->

    <h4>Postdocs &amp; Adjuncts</h4>
    <div class="membergroup">

    <div class="member">
        <div class="picture">
            <img src="img/people/ignacia.jpg" width="80px" border="0" />
        </div>
        <h4>Ignacia Echeverria</h4>
        <h5>Assistant Adjunct Professor</h5>
        <script>escramble("Ignacia.EcheverriaRiesco","ucsf.edu")</script>
          <ul>
                <li>Integrative structure determination of the Nuclear Pore Complex.</li>
		<li>Characterizing host-pathogen interactions using data from different sources.</li>
		<li>Leveraging large-scale genetic interaction mapping to model the structures of protein assemblies.</li>
          </ul>
        </div> <!-- end div member -->

        <div class="member">
        <div class="picture">
            <img src="img/people/kenneth.png" width="80px" border="0" />
        </div>
        <h4>Kenneth Huang</h4> <h5>Postdoctoral Scholar</h5>
        <script>escramble("huangdaken","gmail.com")</script>
          <ul>
                <li>Modeling multi state ensemble of the Nsp2 protein</li>
                <li>Integrative meta-modeling of the nuclear pore complex</li>
          </ul>
        </div> <!-- end div member, copy until here, including this line -->

        <div class="member">
        <div class="picture">
            <img src="img/people/rraddi.jpg" width="80px" border="0" />
        </div>
        <h4>Robert Raddi</h4> <h5>Postdoctoral Scholar</h5>
        <script>escramble("Robert.Raddi","ucsf.edu")</script>
          <ul>
                <li>Method development & application of Bayesian Metamodeling</li>
          </ul>
        </div> <!-- end div member, copy until here, including this line -->

        <div class="member">
        <div class="picture">
            <img src="img/people/atreya.png" width="80px" border="0" />
        </div>
        <h4>Atreya Dey</h4> <h5>Postdoctoral Scholar</h5>
        <script>escramble("atreya.dey","ucsf.edu")</script>
          <ul>
                <li>Method development for IMP</li>
                <li>Analysis of deep mutational scanning data</li>
          </ul>
        </div> <!-- end div member, copy until here, including this line -->

        <div class="member">
        <div class="picture">
            <img src="img/people/arthur.jpg" width="80px" border="0" />
        </div>
        <h4>Arthur Zalevsky</h4> <h5>Postdoctoral Scholar</h5>
        <script>escramble("arthur.zalevsky","rcsb.org")</script>
          <ul>
                <li>Development of the PDB-IHM repository of integrative structures</li>
                <li>Integrative modeling of biomolecular assemblies guided by chemical crosslinking and  electron microscopy data</li>
          </ul>
        </div> <!-- end div member, copy until here, including this line -->

        <div class="member">
        <div class="picture">
            <img src="img/people/vipul.jpg" width="80px" border="0" />
        </div>
        <h4>Vipul Kumar</h4> <h5>Postdoctoral Scholar</h5>
        <script>escramble("Vipul.Kumar2","ucsf.edu")</script>
          <ul>
                <li>Development and Application of IMP for Integrative Modeling of Prion-Associated Macromolecular Assemblies</li>
                <li>Development and Application of Integrative Modeling to Integrate Cryo-ET and Footprinting Data</li>
                <li>Modeling and High-Throughput Virtual Screening of Molecules Against Transport Proteins</li>
          </ul>
        </div> <!-- end div member, copy until here, including this line -->

        <div class="member">
        <div class="picture">
            <img src="img/people/sree.png" width="80px" border="0" />
        </div>
        <h4>Sree Ganesh Balasubramani</h4> <h5>Postdoctoral Scholar</h5>
        <script>escramble("sreeuci","gmail.com")</script>
          <ul>
                <li>Bayesian hierarchical modeling of protein structures using data from in vivo experiments</li>
          </ul>
        </div> <!-- end div member, copy until here, including this line -->

        <div class="member">
        <div class="picture">
            <img src="img/people/neelesh.png" width="80px" border="0" />
        </div>
        <h4>Neelesh Soni</h4> <h5>Postdoctoral Scholar</h5>
        <script>escramble("Neelesh.Soni","ucsf.edu")</script>
          <ul>
                <li>Development and application of IMP for integrative modeling of macromolecular assemblies</li>
                <li>Integrative modeling of NPC and its sub-complexes</li>
                <li>Development of tools for microenvironment mapping</li>
          </ul>
        </div> <!-- end div member, copy until here, including this line -->

        <div class="member">
        <h4>Jared Sagendorf</h4> <h5>Postdoctoral Scholar</h5>
        </div> <!-- end div member, copy until here, including this line -->

        <div class="member">
        <div class="picture">
            <img src="img/people/vikas.jpg" width="80px" border="0" />
        </div>

        <h4>Vikas Tiwari</h4> <h5>Postdoctoral Scholar</h5>
        <script>escramble("vikas.tiwari","ucsf.edu")</script>
          <ul>
                <li>Integrative modelling of the protein complexes and their neighbourhood from the hierarchical cell map data</li>
		<li>Application of IMP for NPC modelling</li>
		<li>Analysis of virus macrodomain</li>
          </ul>
        </div> <!-- end div member, copy until here, including this line -->

    </div>
        
    <h4>Graduate Students</h4>
    <div class="membergroup">

        <div class="member">
        <div class="picture">
            <img src="img/people/aji.jpg" width="80px" border="0" />
        </div>
        <h4>Aji Palar</h4>
        <h5>Graduate Student</h5>
        <h5>Graduate Program in Biophysics</h5>
        <script>escramble("aji","salilab.org")</script>
          <ul>
                <li>Integrative structural biology of host-pathogen complexes
            </li>
                <li>Integrative network modeling
            </li>
          </ul>
        </div> <!-- end div member -->
        <div class="member">
        <div class="picture">
            <img src="img/people/matthew.jpg" width="80px" border="0" />
        </div>
        <h4>Matthew Hancock</h4>
        <h5>Graduate Student</h5>
        <h5>Graduate Program in Biophysics</h5>
        <script>escramble("matthew","salilab.org")</script>
          <ul>
                <li>Integrative modeling of macromolecular ensembles
            </li>
                <li>Thermodynamic approximations from structural ensembles
            </li>
          </ul>
        </div> <!-- end div member -->

        <div class="member">
        <h4>Catherine Sue</h4>
        <h5>Graduate Student</h5>
        </div> <!-- end div member -->

        <div class="member">
        <h4>Mark Ware</h4>
        <h5>Graduate Student</h5>
        </div> <!-- end div member -->
        
    </div>
        
    <h4>Scientific Programmers</h4>
    <div class="membergroup">
    
        <div class="member">
        <div class="picture"><a href="https://salilab.org/~ben"><img src="img/people/ben.jpg" width="80px" border="0" /></a></div>
        <h4><a href="https://salilab.org/~ben/">Ben Webb</a></h4> <h5>Academic Coordinator</h5>
        <script>escramble("benjamin.webb","ucsf.edu")</script>
        <ul>
                <li>Development of the Modeller package for comparative modeling.</li>
                <li>Development of the IMP platform for assemblies and modeling.</li>
                <li>Refinement of protein structure models.</li>
                <li>Systems administration.</li>
        </ul>
        </div> <!-- end div member, copy until here, including this line -->
    </div>
    

    </div> <!-- end div fullpart -->
{% endblock %}
