{% extends "_layout.html" %}

{% block body %}
<div id="fullpart">
        <h3>Our Associations</h3>
        <h4>Affiliations</h4>
        <p><a href="http://bts.ucsf.edu/">Department of Bioengineering and Therapeutic Sciences</a></p>
        <p><a href="http://pharmchem.ucsf.edu/">Department of Pharmaceutical Chemistry</a></p>
        <p><a href="http://www.qb3.org/">QB3 Institute</a></p>
        <p><a href="http://ichs.ucsf.edu/">Institute for Computational Health Sciences</a></p>
        <p><a href="http://pharmacy.ucsf.edu/">School of Pharmacy</a></p>
        <p><a href="https://www.ucsf.edu/">University of California, San Francisco</a></p>

          <h4>Consortia</h4>
          
          <p><a href="http://www.ncdir.org/">National Center for Dynamic Interactome Research (NCDIR)</a></p>
          <p><a href="http://csmp.ucsf.edu">Center for Structures of Membrane Proteins</a></p>
          <p><a href="http://enzymefunction.org/">Enzyme Function Initiative</a></p>
          <p><a href="http://hpcprogram.ucsf.edu/">Host-Pathogen Circuitry</a></p>
          <p><a href="http://www.nysgrc.org/">New York Structural Genomix Research Consortium</a></p>
          <p><a href="http://pharmacogenetics.ucsf.edu/index.html">Pharmacogenetics of Membrane Transporters</a></p>
         <p><a href="http://www.tropicaldisease.org/">Tropical Disease Initiative</a></p>
          
          <h4>Past Consortia</h4>
          
          <p><a href="http://www.ccpr.ucsf.edu:80/">Center for Computational Proteomics Research</a></p>
          <p><a href="http://proteinfoldingcenter.org/">Center for Protein Folding Machinery</a></p>
          <p><a href="http://phylogenomics.berkeley.edu/phylofacts/">PhyloFacts</a></p>
          <p><a href="http://ncmi.bcm.tmc.edu/ncmi/">The National Center for Macromolecular Imaging</a></p>

         <h4>Collaborators</h4>
          <p><a href="http://www.msg.ucsf.edu/agard/">David A. Agard</a>, HHMI Investigator,  University of California, San Francisco</p>
          <p><a href="http://www.systemsbiology.org/Scientists_and_Research/Faculty_Groups/Aitchison_Group">John D. Aitchison</a>, Associate Director, Institute for Systems Biology</p>
          <p><a href="http://chemhelp.bu.edu/groups/allengroup/index.html">Karen Allen</a>, Professor, Boston University</p>
          <p><a href="http://www.einstein.yu.edu/home/faculty/profile.asp?id=7091">Steven Almo</a>, Professor, Albert Einstein College of Medicine</p>
          <p><a href="http://www.bumc.bu.edu/phys-biophys/people/faculty/akey/akey-laboratory/">Christopher W. Akey</a>, Associate Professor, Boston University</p>
          <p><a href="http://andino.ucsf.edu/andino/index.html">Raul Andino</a>, Professor, University of California, San Francisco</p>
          <p><a href="http://babbittlab.ucsf.edu/">Patricia C. Babbitt</a>, Professor, University of California, San Francisco</p>
          <p><a href="http://www.biochem.mpg.de/baumeister/">Wolfgang Baumeister</a>, Director, Dept. of Molecular Structural Biology, Max Planck Institute for Biochemistry</p>
          <p><a href="http://cancer.ucsf.edu/people/profiles/burlingame_alma.3719">Al Burlingame</a>, Professor, University of California, San Francisco</p>
          <p><a href="http://www.rockefeller.edu/research/abstract.php?id=18">Brian T. Chait</a>, Professor at The Rockefeller University</p>
          <p><a href="http://www.bcm.edu/biochem/?PMID=3715">Wah Chiu</a>, Director, National Center for Macromolecular Imaging and Codirector, W. M. Keck Center for Computational Biology, Baylor College of Medicine</p>
          <p><a href="http://www.craiklab.ucsf.edu//">Charles Craik</a>, Professor,  University of California, San Francisco</p>
          <p><a href="http://faculty.washington.edu/tdavis/index.html">Trisha Davis</a>, Professor,  University of Washington, Seattle</p>
          <p><a href="http://www.cgl.ucsf.edu/home/tef/">Tom Ferrin</a>, Professor,  University of California, San Francisco</p>
          <p><a href="http://www.stanford.edu/group/frydman/web/">Judith Frydman</a>,  Associate Professor,Stanford University, Palo Alto, CA.</p>
          <p><a href="http://gandalf.umd.edu/FushmanLab/">David Fushman</a>,  Professor, University of Maryland, College Park, MD.</p>
          <p><a href="http://bts.ucsf.edu/giacomini/">Kathleen M.Giacomini</a>,  Chair of Dept. of Bioengineering & Therapeutic Sciences in the School of Pharmacy, University of California, San Francisco</p>
           <p><a href="http://www.life.uiuc.edu/biochem/f_gerlt.html">John A. Gerlt</a>, Professor,  University of Illinois at Urbana-Champaign</p>
          <p><a href="http://francisco.compbio.ucsf.edu/~jacobson/">Matt Jacobson</a>, Professor,  University of California, San Francisco</p>
          <p><a href="http://bts.ucsf.edu/kroetz/">Deanna Kroetz</a>, Professor, University of California, San Francisco</p>
          <p><a href="http://kroganlab.ucsf.edu/">Nevan Krogan</a>, Associate Professor, University of California, San Francisco</p>
          <p><a href="http://faculty.washington.edu/kklee/Welcome.html">Kelly Lee</a>, Assistant Professor, University of Washington, Seattle</p>
          <p><a href="http://pathology.ucsf.edu/mckerrow/Welcome.html">James H. McKerrow</a>, Professor, University of California, San Francisco</p>
          <p><a href="http://www.cipf.es/RESEARCH/group.aspx?id=83">Marc A. Marti-Renom</a>, Assistant Professor, Head of the Structural Genomics Unit, Bioinformatics Department, Prince Felipe Research Center</p>
          <p><a href="http://www.pasteur.fr/ip/easysite/pasteur/en/research/scientific-departments/structural-biology-and-chemistry/home">Michael Nilges</a>, Chair, Dept. of Structural Biology and Chemistry, Institute Pasteur</p>
          <p><a href="http://www.chem.tamu.edu/faculty/faculty_detail.php?ID=65">Frank M. Raushel</a>, Professor, Texas A&M University</p>
          <p><a href="http://www.rockefeller.edu/research/faculty/labheads/MichaelRout/">Michael P. Rout</a>, Professor at The Rockefeller University</p>
          <p><a href="http://shoichetlab.compbio.ucsf.edu/">Brian Shoichet</a>, Professor,  University of California, San Francisco</p>
          <p><a href="http://www.biozentrum.unibas.ch/research/groups-platforms/overview/unit/schwede/">Torsten Schwede</a>, Research Group Professor,  Swiss Institute of Bioinformatics Biozentrum,  University of Basel</p>
          <p><a href="http://www.msg.ucsf.edu/stroud/">Robert Stroud</a>, Professor,  University of California, San Francisco</p>
          <p><a href="http://www.scripps.edu/~jat/">John Tainer</a>, Professor,  Scripps Research Institute, La Jolla, CA</p>
          <p><a href="http://www.ijs.si/ijsw/JSI">Boris Turk </a>, Professor, Head of Biochemistry, Institute Jozef Stefan, Ljubljana, Slovenia</p>
          <p><a href="http://wellslab.ucsf.edu/">Jim Wells</a>, Professor,  University of California, San Francisco</p>
          <p><a href="http://www.cs.tau.ac.il/~wolfson/">Haim Wolfson</a>, Professor,  Tel-aviv University</p>
          
          <h4>Former Collaborators</h4>
          
          <p><a href="http://www.cs.utexas.edu/~bajaj/index.html">Chandrajit Bajaj</a>, Professor, Director of Center for Computational Visualization, University of Texas at Austin</p>
          <p><a href="http://www.upf.edu/cexs/faculty/facult/oliva.html">Miguel Baldomero Oliva</a>, Associate Professor, Universitat Pompeu Fabra</p>
          <p><a href="http://cancer.ucsf.edu/people/beattie_mary.php">Mary Beattie</a>, Associate Clinical Professor,  University of California, San Francisco</p>
          <p><a href="http://biochemistry.ucsf.edu/~blackburn/">Elizabeth Blackburn</a>, Professor,  University of California, San Francisco</p>
          <p><a href="http://www.lilly.com/Pages/home.aspx">Stephen K. Burley</a>, Chief scientific officer of Structural GenomiX</p>
          <p><a href="http://www.biophyschem.uni-frankfurt.de/AK_Doetsch///">Volker Doetsch</a>, Professor,  Institute of Biophysical Chemistry, Johann Wolfgang Goethe University, Frankfurt</p>
          <p><a href="http://www.wadsworth.org/resnres/bios/frank.htm">Joachim Frank</a>, Investigator, Computational Biology and Molecular Imaging, Howard Hughes Medical Institute and Professor, School of Public Health, Biomedical Sciences</p>
          <p><a href="http://bts.ucsf.edu/guo/">Su Guo</a>, Assistant Professor,  University of California, San Francisco</p>
          <p><a href="http://www.cbse.ucsc.edu/people/hausslerlab">David Haussler</a>, Director, Center for Biomolecular Science & Engineering,  UC Presidential Chair in Computer Science, Scientific Co-Director, California Institute for Quantitative Biomedical Research (QB3)</p>
          <p><a href="http://karchinlab.org/">Rachel Karchin</a>, Assistant Professor, Johns Hopkins University</p>
          <p><a href="http://www.chem.harvard.edu/research/faculty/martin_karplus.php">Martin Karplus</a>,  Professor,  Harvard University </p>
          <p><a href="http://www.its.caltech.edu/~mbklab/">Mary Kennedy</a>, Professor,  California Institute of Technology </p>
          <p><a href="http://id.medicine.ucsf.edu/about/facpages/rosenthal.html">Phil Rosenthal</a>, Professor, University of California, San Francisco </p>
          <p><a href="http://www.columbia.edu/~rost/">Burkhardt Rost</a>, Associate Professor,  Columbia University</p>
          <p><a href="http://www.dfhcc.harvard.edu/membership/profile/member/1170/0/">Richard L.Stevens</a>, Professor,  Harvard Medical School</p>

          <h4>Journals</h4>

          <p><a href="http://www.springerlink.com/app/home/journal.asp?wasp=217f25695a98477eb4309d6f5f94c645&referrer=parent&backto=browsepublicationsresults,1186,2432;">Journal of Computer-Aided Molecular Design</a></p>
          <p><a href="http://www.mcponline.org/">Molecular and Cellular Proteomics</a></p>
          <p><a href="http://www.ploscompbiol.org/">PLOS Computational Biology</a></p>
          <p><a href="http://peds.oupjournals.org/">Protein Engineering, Design and Selection</a></p>
          <p><a href="http://www.proteinsociety.org/">Protein Science</a></p>
          <p><a href="http://www.structure.org/">Structure</a></p>
          
          <h4>Other</h4>
          
          <p><a href="https://salilab.org/cabo/ ">World Molecular Engineering Network</a></p>

          </div> <!-- end div fullpart -->
{% endblock %}
