{% extends "_layout.html" %}

{% block body %}
<div id="fullpart">
            <h3>Postdoctoral and Graduate Fellowships</h3>
      <h4>UCSF Funding Information</h4>
      <ul>
        <li><a href="http://www.medschool.ucsf.edu/postdocs/" class="link">Office of Postdoctoral
                Education</a></li>
        <li><a href="http://biochemistry.ucsf.edu/fellowships.html" class="link">Department
          of Biochemistry and Biophysics, Postdoctoral Fellowships Lising</a></li>
        <li><a href="http://www.research.ucsf.edu/cg/funding/cgFunding.asp" class="link">
          Contracts & Grants Funding Opportunities</a></li>
        <li><a href="http://www.research.ucsf.edu/cg/cgdeadline.htm" class="link">
          Upcoming Award Application Deadlines</a></li>
        <li><a href="https://www.ucsf.edu/ora/cg/index.html" class="link">
          Contracts & Grants</a></li>
        <li><a href="https://www.ucsf.edu/ora/index.htm" class="link">
          Office of Research Administration</a></li>
        <li><a href="http://www.universityofcalifornia.edu/research/welcome.html" class="link">
          UC Research Page</a></li>
      </ul>

      <h4>Useful sites for PhD Scholarship Searches</h4>
      <ul>
        <li><a href="https://www.nature.com/naturejobs/science/jobs?job_type=PhD+Studentship" class="link">naturejobs.com</a></li>
        <li><a href="http://scholarship-positions.com/" class="link">scholarship-positions.com</a></li>
        <li><a href="https://www.jobvector.com/" class="link">JobVector</a></li>
        <li><a href="https://people.rit.edu/gtfsbi/Symp/bioinformatics.htm" class="link">Internships and summer research opportunities</a></li>
        <li><a href="https://www.findaphd.com/" class="link">FindAPhD</a></li>
        <li><a href="http://www.scholars4dev.com/" class="link">scholars4dev</a></li>
        <li><a href="https://jobs.sciencecareers.org/" class="link">Science Careers @ AAAS</a></li>
        <li><a href="https://www.topuniversities.com/" class="link">TopUniversities</a></li>
      </ul>

     <h4>National Fellowship Opportunities</h4>

      <ul>
            <li><a href="http://www.amhrt.org" class="link">
            American Heart Association</a></li>
                <li><a href="http://www.cancer.org" class="link">
            American Cancer Society</a></li>
                <li><a href="http://www.the-aps.org/awards/" class="link">
            American Physiological Society</a></li>
                <li><a href="http://www.bwfund.org/" class="link">
        Burroughs Wellcome Fund</a>
                <li><a href="http://www.cancerresearch.org/" class="link">
        Cancer Research Institute</a>
        <li><a href="http://www7.nationalacademies.org/policyfellows/" class="link">Christine Mirzayan Science and Technology Policy Graduate Fellowship Program</a></li>
                  <li><a href="http://www.drcrf.org/apFellowship.html" class="link">Damon Runyon Cancer Research Foundation Fellowship Award</a></li>
          <li><a href="http://www.afar.org/ellison.html" class="link">
          Ellison/AFAR Senior Postdoctoral Fellows Research Program</a></li>
                  <li><a href="http://info.med.yale.edu/jccfund/fellowship.htm" class="link">
          Fellowship Awards of the Jane Coffin Childs Memorial Fund for Medical
          Research</a></li>
                  <li><a href="http://www.gianninifamilyfoundation.org/" class="link">
          Giannini Family Foundation </a></li>
                  <li><a href="http://www.hhwf.org/" class="link">
          Helen Hay Whitney Foundation</a></li>
                  <li><a href="http://www.hhmi.org/" class="link">
          Howard Hughes Medical Institute</a></li>
                  <li><a href="http://www.lsrf.org/" class="link">
          Life Sciences Research Foundation</a></li>
                  <li><a href="http://www.nih.gov/" class="link">
          National Institutes of Health</a></li>
                  <li><a href="http://grants1.nih.gov/grants/funding/" class="link">NIH/National Research Service Award Individual Fellowship</a></li>
                  <li><a href="http://www.nationalacademies.org/nrc//" class="link">National Research Council </a></li>
                  <li><a href="http://www.nsf.gov/" class="link">
          National Science Foundation</a></li>
                  <li><a href="http://www.developer.ibm.com/university/scholars/fellowship/phd/" class="link">
          IBM Ph.D. Fellowship Program for the 2005-2004 Academic Year</a></li>
                  <li><a href="http://www.lorealusa.com/forwomeninscience" class="link">
          L'Oreal Science Fellowship Program for Women</a></li>
          <li><a href="http://www.sloan.org/programs/fellowship_brochure.shtml" class="link">
          Sloan Research Fellowships</a></li>
                  <li><a href="http://www.leukemia.org/hm_lls&gt;" class="link">
          The Leukemia &amp; Lymphoma Society</a></li>
                  <li><a href="http://www.pewtrusts.com/" class="link">The Pew Charitable Trusts</a></li>
                        </ul>

      <h4>Selection of European/International Funding</h4>

      <ul>
                <li><a href="http://www.avh.de/en/stiftung/index.htm" class="link">
          Alexander von Humboldt Foundation</a></li>
            <li><a href="http://www.daad.de/en/index.html" class="link">
          DAAD German Academic Exchange Service</a></li>
                <li><a href="http://www.dfg.de/en/index.html" class="link">
          DFG German Research Foundation</a></li>
                <li><a href="http://www.embo.org/" class="link">
          EMBO Fellowship Program</a></li>
                <li><a href="http://www.leopoldina.uni-halle.de/e_index.htm" class="link">
          German Academy of Natural Scientists LEOPOLDINA</a></li>
                <li><a href="http://www.hfsp.org/" class="link">
          Human Frontiers Fellowship Program</a></li>
                <li><a href="http://www.nato.int/science/support/fellowships/fellowships-info.htm" class="link">
          NATO Fellowship Program</a></li>
                  <li><a href="http://www.schering-fg.de/" class="link">
          The Ernst Schering Research Foundation</a></li>
                <li><a href="http://www.wellcome.ac.uk/" class="link">
          The Wellcome Trust (UK)</a></li>
      </ul>

      <h4>Useful sites for Funding Applications</h4>

      <ul>
         <li><a href="http://www.fastlane.nsf.gov" class="link">
          FastLane (electronic submission of NSF applications)</a></li>
                 <li><a href="http://grants2.nih.gov/grants/forms.htm" class="link">
          NIH Forms & Applications</a></li>
       </ul>
       
       <h4>Useful sites for Industry/Academic Job Searches</h4>
       
       <ul>
       <li><a href="http://www.career.ucsf.edu/grad-students-postdocs/career-planning/non-academic-jobs/locating" class="link">
          UCSF Office of Career & Professional Development</a></li>
          <li><a href="http://www.bioinformatics.org" class="link">
          Bioinformatics Organization</a></li>
          <li><a href="http://www.linkedin.com/groups?home=&gid=1773514" class="link">
          LinkedIn - Opportunities in Computational Chemistry and Biology</a></li>
          <li><a href="http://www.indeed.com" class="link">
          indeed</a></li>
          <li><a href="http://www.kleinhersh.com" class="link">
          Klein Hersh Company</a></li>
       
       </ul>
       
       
          
          </div> <!-- end div fullpart -->
{% endblock %}
