
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:0.75em;
	color: #333;
	background-color:f2f2f2;
	background-repeat:no-repeat;
	
		
}	

#wrapper {
	width: 798px;
	text-align:left;
	margin: 30px auto;
	padding:0px;
	position: relative;
	background-color: #ffffff;
	border:solid 1px #CCCCCC;
	
}

h2 {
	color:#333333;
	margin-bottom:10px;
	padding-left:0px;
	font-size:1.1em;
	
}


img {
	border:none;
}

#container{
width:798px;
margin-top:-3px;
padding:0px;
background-color:#fff;
background-repeat:repeat-y;
}


#left {
	width: 150px;
	float:left;
	padding-left:30px;
	padding-top:15px;
	}

#middle {
	width: 450px;
	float:left;
	padding-left:20px;
	padding-right:0px;
	padding-bottom:10px;
	padding-top:15px;
	text-align:justify;
	
	
}
#right {
	width: 90px;
	float:right;
	padding-left:15px;
	margin-left:15px;
	margin-right:20px;
	padding-top:30px;
	
	
}
#content {
	width: 670px;
	padding-top:15px;
	padding-left:25px;
	padding-right:10px;
	margin:0px;
	
	
}

#footer {
	clear:both;
	padding-top:11px;
	width:800px;
	height:19px;
	text-align:center;
	font-size: 0.8em;
	color:#333333;
	border-top:1 px solid #666666;
	background-color:#999999
	
	
}



#right a {
color:#333333;
text-decoration:none;
	}
#right a:hover{
color: #C02826;
	text-decoration:underline;
	}
	#right a:visited{
color:#333333;
	text-decoration:underline;
	}
	
	/* Navigation Bar CSS */

div#navbar {
position:absolute;
top:70px;
left:280px;
width:500px;
	font-family: verdana;
	padding-left: 0px;
	padding-bottom: 10px;
	padding-right: 3px;
	padding-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;	
}

div#navbar ul {
	text-align: right;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	margin: 0px;
}

div#navbar li {
	font-size: 9pt;
	margin-right:15px;
	line-height: 20pt;
	letter-spacing: 1px;
	
	display: inline;
	list-style-type: none;
}

div#navbar li a {
	border-style: none;
	color: #fff;
	text-decoration: none;
}

div#navbar li a:hover {
	color: #000000;
	
}

#navbar #current a {
	color:#00CCFF;
}

/* Left Bar links CSS */


div#sponsors{
	font-family:  Arial,Verdana, Helvetica, sans-serif;
	width:136px;
	margin-bottom:25px;
	text-align:left;

}

div#sponsors ul {
	padding-top:0px;
	
	text-align:left;
	margin-left:0px;
	padding-left:0px;

}

div#sponsors li {
	font-size: 0.9em;
	line-height: 12pt;
	letter-spacing: 1px;
	list-style-type: none;
	text-align:left;
}

div#sponsors li a {
	color:#333333;
	text-decoration: none;
}

div#sponsors li a:hover {
	color: #C02826;
	text-decoration:underline;
	
}
div#sponsors li a:visited {
	color:#00000;
	text-decoration:none;

	
}
/* COntact us page CSS */

#boxorganizers{
margin-top:15px;


}
#boxcontact{
margin-top:0px;

}


#formcontainer{
text-align:left;}
