{% extends "_layout.html" %}

{% block body %}
<div id="fullpart">
            <h3>Postdoctoral position in structural bioinformatics at RCSB @ UCSF</h3>

<p><b>Summary</b>.
The research group of Andrej Sali at UCSF (<a href="https://salilab.org">https://salilab.org</a>) is seeking a highly motivated postdoctoral researcher in bioinformatics, with domain experience in structural biology. The candidate should be interested in structural biological data and enjoy engaging with other programmers and scientists in a collaborative team environment. The position is part of the RCSB Protein Data Bank (<a href="https://rcsb.org">https://rcsb.org</a>) effort at University of California, San Francisco, focused on the development of resources for the integrative methods initiative of worldwide Protein Data Bank. The effort has already produced a number of scientific publications, and is expected to provide ample opportunities for additional first-author publications in the future, including in Bayesian validation of structural models in general, one of the frontiers in structural biology.
</p>

<p><b>Responsibilities:</b></p>

<ul>
<li>Design, development, and deployment of the nascent archive for integrative structures at the Protein Data Bank, PDB-Dev (<a href="https://pdb-dev.wwpdb.org">https://pdb-dev.wwpdb.org</a>)</li>
<li>Integration of complex bioinformatics data, implementation of specialized algorithms for search/data analysis and use of AI tools</li>
<li>Design and implementation of cloud-ready deployments using containerization and modern cloud technologies</li>
<li>Analysis, refactoring and adaptation of legacy code to conform to new architecture designs</li>
<li>Debugging, testing, troubleshooting</li>
</ul>

<p><b>Qualifications:</b></p>

<ul>
<li>PhD in Computer Science, Biochemistry, Bioinformatics, or a related discipline, or a comparable combination of education and experience developing modern scientific data applications</li>
<li>Excellent interpersonal, verbal, and written communication skills</li>
<li>Experience with Python, document databases, search and data access tools</li>
</ul>

<p>Scientific background in any of the following areas would be considered a major plus: Molecular Biology, Bioinformatics, Cheminformatics, Biochemistry, Chemistry, Genomics.
Experience working with large and complex scientific datasets would also be considered a plus.</p>

<p><b>Outstanding Benefits Package</b>. UCSF is a friendly and collaborative working environment with excellent professional development opportunities. There are personal rewards including a comprehensive health plan.</p>

<p><b>About the Sali research group at UCSF:</b> <a href="https://salilab.org">https://salilab.org</a>.</p>

<p><b>About RCSB PDB:</b>
The work at RCSB PDB (<a href="https://rcsb.org">https://rcsb.org</a>) focuses on data analysis, integration, and transformation, and the presentation and visualization of data using complex interactive graphical user interfaces. An important aspect is to provide users with the ability to search and explore the PDB data archive. Solutions are implemented using a wide range of components developed and maintained in-house, in addition to third-party tools, libraries, frameworks and technologies. The candidate should be comfortable working in a dynamic environment, and able to demonstrate an ability to think creatively, generate new ideas, and implement solutions. The candidate should also show an eagerness to learn new skills and technologies.</p>

<p><b>Apply:</b>
Please send an email with a cover letter and cv to Andrej Sali at 
<script>escramble("sali","salilab.org")</script>.
</p>

<p><br></p>
<hr>
<p><br></p>

<p>See this job ad elsewhere: <a href="https://www.rcsb.org/pages/jobs#postdocucsf">RCSB</a>; <a href="https://twitter.com/salilab_ucsf/status/1491873858344734720">Twitter</a>; <a href="http://mail.ncmir.ucsd.edu/pipermail/3dem/2022-February/009357.html">3dem</a>; <a href="https://www.jiscmail.ac.uk/cgi-bin/wa-jisc.exe?A2=ind2202&L=CCP4BB&O=D&P=51913">CCP4BB</a>; <a href="https://lists.wwpdb.org/empathy/thread/WSGL6XIM3L7PUAHTPXGHHE4TKA5ADY6P">pdb-l</a>; <a href="https://www.jiscmail.ac.uk/cgi-bin/wa-jisc.exe?A2=ind2202&L=CCPEM&O=D&P=61696">CCPEM</a></p>

</div> <!-- end div fullpart -->
{% endblock %}
