{% extends "_layout.html" %}

{% block body %}
    <div id="middle">
<!-- InstanceBeginEditable name="body" -->
<div id="fullpart">

<a href="/img/people/andrej1.jpg"><div class="picture"><img src="//salilab.org/img/people/andrej1_small.gif" alt="Picture of Andrej Sali" width="140px" border=0></div></a>
                <h4>Andrej Sali, Professor</h4> 
                 <p><h5>Research</h5>
        <p>The Sali group contributes to the discovery of general structural principles that underlie all cellular processes, through maximizing the accuracy, precision, completeness, and efficiency of the structural coverage of proteins and their assemblies. </p>
        <p>This goal is being achieved by a tight integration of different types of experimental data, physical theories, and statistical inference, spanning all relevant size and time scales. </p>
        <p>The corresponding software, Integrative Modeling Platform (<a href="https://integrativemodeling.org/">IMP</a>), has already been applied to determining the structures of a number of macromolecular complexes, including the Nuclear Pore Complex, the major gateway for molecular traffic in and out of a cell's nucleus.
  </p>
          
        </p>
                <ul>
                  <li><a href="biosketch.html">Biosketch</a></li>
				  <li><a href="SaliCV04212026.html">Long Curriculum Vitae</a>
                      <a href="20180606_AndrejSali_CurriculumVitae.doc"><img src="/img/word.jpg" alt="Word" width="12px" border="0"></a></li>
                  <li><a href="invited_presentations.html">Invited Presentations</a></li>
	    </ul>
        
	    <div style="clear:both;"></div>
        <p>&nbsp;</p>
        <table>
        <tr>
        <td>
        <h4>Server Room</h4>
	    <a href="img/andrej2.jpg"><img src="img/andrej2_small.gif"  alt="Server Room" border=0></a>
        </td><td>
        <h4>Closeup</h4>
	    <a href="img/Andrej-Sali-19_c.jpg"><img src="img/Andrej-Sali-19_small.jpg" alt="Closeup" height=120 border=0></a>
       </td>
       <td>
        <h4>Projects Gallery</h4>    
	    <a href="img/web_servers.jpg"><img src="img/web_servers.jpg" alt="Projects" height="120px" border=0></a>
        </td>
       </tr></table>
       <p>&nbsp;</p>
        <p class="footnote">all photographs: © <a href="//majedphoto.com">majedphoto.com</a></p>
</div>
<!-- end div fullpart -->
<!-- InstanceEndEditable -->
</div> <!-- end div middle -->
{% endblock %}
