{% extends "_layout.html" %}

{% block body %}
    <div id="middle">
<!-- InstanceBeginEditable name="body" -->
<div id="fullpart">
<h3>Andrej Sali: Invited Presentations</h3>
<ul>
<li>Organizer and Speaker at the <a href="https://www.keystonesymposia.org/digital-toolkit/f32025">GPCR Drug Discovery Meets Cell Modeling</a>, Keystone Symposium, Santa Fe, NM, USA,<b> October 27-31, 2024.</b></li>
<li>Speaker at the <a href="https://www.mosbri.eu/events/conferences/ljubljana-2024/">Protein Society Annual Symposium</a>, Vancouver, Canada,<b> July 23-26, 2024.</b></li>
<li>Keynote Speaker at the <a href="https://www.mosbri.eu/events/conferences/ljubljana-2024/"> 3rd MOSBRI Conference</a>, Ljubljana, Slovenia,<b> June 10-13, 2024.</b></li>
<li>Organizer and Speaker at the <a href="http://www.salilab.org/cabo"> 34th Scripps/UCSF Conference</a>, Cabo San Lucas, Mexico,<b> May 2-5, 2024.</b></li>
<li>2024 Faculty Research Lecture Award Basic Science at the <a href="https://senate.ucsf.edu/all-awards/frlbs">University of California, San Francisco</a>, San Francisco, CA, USA,<b> April 16, 2024.  </b></li>
<li>Seminar at the <a href="http://vanderbilt.edu">Vanderbilt University</a>, Nashville, TN, USA,<b> March 24, 2024.  </b></li>
<li>Speaker at the <a href="https://www.biophysics.org/2024meeting#/">Biophysical Society 68th Annual Meeting</a>, Philadelphia, PA,<b> February 10-14, 2024.</b></li>
<li>Organizer and Speaker at the <a href="XX"> Bayesian Model Validation Workshop</a>, RCSB, Interlaken Inn, Connecticut<b>, January 17-18, 2024.</b></li>
<li>Lecture in the Structural Biology Course at the<a href="http://www.scripps.edu"> Scripps Research Institute</a> San Diego, CA, USA,<b> February 17, 2024.  </b></li>
<li>Seminar at the<a href="http://www.scripps.edu"> Scripps Research Institute</a> San Diego, CA, USA,<b> February 15, 2024.  </b></li>
<li>Speaker at <a href="https://www.embl.org/about/info/course-and-conference-office/events/csb23-01/">Computational Structural Biology Conference</a>, Heidelberg, Germany,<b> December 6-9, 2023.</b></li>
<li>Seminar at <a href="https://www.desy.de">DESY</a>, Hamburg, Germany,<b> December 4, 2023.</b></li>
<li>Seminar at <a href="https://ihuman.shanghaitech.edu.cn/ihuman_en/">iHuman Institute</a>, Shanghai, China,<b> October 18, 2023.</b></li>
<li>Lecturer in the Biochemical and Biophysical Methods I & II Course at the <a href="XX"> Rockefeller University</a>, New York City,<b> October 10, 2023.</b></li>
<li>Speaker at the <a href="https://www.embl.org/about/info/course-and-conference-office/events/ees23-09/">Seeing is believing: imaging the molecular processes of life</a>, EMBL, Heidelberg, Germany<b> October 4-7, 2023.</b></li>
<li>Speaker at the <a href="XX">2ND Annual St. Jude Symposium on Structural and Computational Biology</a>, St. Jude, Memphis, TN,<b> October 2-3, 2023.</b></li>
<li>Keynote speaker at the <a href="XX">Peroxisome meeting</a>, Seattle Childrens, Seattle, WA,<b> September 10-12, 2023.</b></li>
<li>Speaker at the <a href="https://acs.digitellinc.com/sessions/575843/view"> 2023 ACS Fall Meeting, Kuntz symposium </a>, San Francisco, CA,<b> August 13-17, 2023.</b></li>
<li>Seminar at the <a href="http://ncbs.res.in"> NCBS</a>, Bangalore, India,<b> August 10, 2023.  </b></li>
<li>Seminar at the <a href="http://mbu.iisc.ac.in"> MBU IISc</a>, Bangalore, India,<b> August 8, 2023.  </b></li>
<li>Speaker at the <a href="http://sites.google.com/acads.iiserpune.ac.in/masfe/home"> Macromolecular Assemblies: Structure, Function, and Evolution</a>, IISER, Pune, India,<b> August 2-4, 2023.  </b></li>
<li>PRBB-CRG Seminar speaker at the <a href="http://www.prbb.edu"> Barcelona Biomedical Research Park</a>, Barcelona, Spain,<b> July 28, 2023.  </b></li>
<li>Organizer and Speaker at the <a href="http://www.salilab.org/cabo"> 33rd Scripps/UCSF Conference</a>, Cabo San Lucas, Mexico,<b> May 6-9, 2023.</b></li>
<li>Lecture in the Structural Biology Course at the<a href="http://www.scripps.edu"> Scripps Research Institute</a> San Diego, CA, USA,<b> March 15 & 17, 2023.  </b></li>
<li>Speaker at the <a href="https://www.ascb.org/cellbio2022/program/">Cell Bio 2022 - An AASCB | EMBO Meeting”</a>, Washington DC, USA,<b> December 3-5, 2022.</b></li>
<li>Seminar at the <a href="http://pasteur.fr"> Pasteur Institute</a>, Paris, France,<b> July 26, 2022.  </b></li>
<li>Speaker at the <a href="https://www.scilifelab.se/event/towards-characterizing-the-human-3d-proteome/"> NS184 Nobel Symposia on “Towards characterizing the human 3D-proteome”</a>, Stockholm, Sweden,<b> May 19-22, 2022.</b></li>
<li>Organizer and Speaker at the <a href="http://www.salilab.org/cabo"> 32nd Scripps/UCSF Conference</a>, Cabo San Lucas, Mexico,<b> May 7-10, 2022.</b></li>
<li>Speaker at the <a href="XX"> ACS Annual meeting, Barry Honig 80th birthday symposium</a>, San Diego, CA,<b> March 20-24, 2022.</b></li>
<li>Seminar at the <a href="URL">Department of Biochemistry and Biophysics, University of Pennsylvania</a>, Philadelphia, PA, <b> October 28, 2021.</b></li>
<li>Speaker at the <a href="https://www.cecam.org/workshop-details/68"> CECAM Workshop: Quantifying Protein Dynamics and Allosteric regulation in the cell with emerging technologies: From Cryo-EM and NMR to Multiscale Simulations, Networks and Machine Learning</a>, Lausanne, Switzerland,<b> September 15-17, 2021.</b></li>
<li>Seminar at the <a href="URL">Bioinformatics Institute, ASTAR</a>, Singapore, <b> September 2, 2021.</b></li>
<li>Speaker at the <a href="XX">XXV IUCr Congress Satellite Meeting on “Macromolecular Machines in Biomedicine: Structure, Dynamics, and Evolution”</a>, Prague, Czech Republic,<b> August 21-22, 2021.</b></li>
<li>Speaker at the <a href="XX">2021 ACA Meeting Transactions Symposium, Function Follows Form: Celebrating the 50th Anniversary of the Protein Data Bank”</a>, Baltimore, MD,<b> July 31, 2021.</b></li>
<li>Seminar at the <a href="URL">Basel University</a>, Basel, Switzerland, <b> May 17, 2021.</b></li>
<li>Speaker at the <a href="https://indico.embl-hamburg.de/event/2/">Workshop on Strategy for future EMBL research infrastructures in the Life Sciences in Hamburg</a>, Hamburg, Germany, <b> April 19-20, 2021.</b></li>
<li>Speaker at the <a href="XX"> EMBL Conference: In situ Structural Biology - From Cryo-EM to Integrative Modelling</a>, Heidelberg, Germany,<b> December 6-8, 2020.</b></li>
<li>Speaker, G.N. Ramachandran Memorial Lecture at the <a href="XX">Indian Biophysical Society 2020 Meeting</a>, Mumbai, India,<b> March 12, 2020.</b></li>
<li>Lecture in the Structural Biology Course at the<a href="http://www.scripps.edu"> Scripps Research Institute</a> San Diego, CA, USA,<b> February 25 & 27, 2020.  </b></li>
<li>Speaker at the <a href="XX"> iHuman Institute, ShanghaiTech</a>, Shanghai, China,<b> December 18, 2019.</b></li>
<li>Speaker at the <a href="XX"> TAU QBI Meeting</a>, Tel Aviv, Israel,<b> December 4, 2019.</b></li>
<li>Speaker at the <a href="XX"> Structural Proteomics Meeting</a>, Goettingen, Germany,<b> November 3, 2019.</b></li>
<li>Lecturer in the Biochemical and Biophysical Methods I & II Course at the <a href="XX"> Rockefeller University</a>, New York City,<b> October 8, 2019.</b></li>
<li>Speaker at the <a href="XX"> EMBL Multiomics Meeting</a>, Heidelberg, Germany,<b> September 11, 2019.</b></li>
<li>Speaker at the <a href="XX"> QBI FU Berlin Meeting</a>, Berlin, Germany,<b> May 26, 2019.</b></li>
<li>Speaker at the <a href="https://instruct-eric.eu/instruct-biennial-structural-biology-conference-2019"> INSTRUCT Biennial Meeting</a>, Madrid, Spain,<b> May 22, 2019.</b></li>
<li>Organizer and Speaker at the <a href="http://www.salilab.org/cabo"> 29th Scripps/UCSF Conference</a>, Cabo San Lucas, Mexico,<b> May 4-7, 2019.</b></li>
<li>Speaker at Section 29 <a href="XX"> National Academy of Sciences Annual Meeting</a>, DC,<b> April 28, 2019.</b></li>
<li>Speaker at the <a href="XX"> ACS Annual Meeting</a>, Orlando, Florida,<b> March 30, 2019.</b></li>
<li>Lecture in the Structural Biology Course at the<a href="http://www.scripps.edu"> Scripps Research Institute</a> San Diego, CA, USA    <b>   March 15-16, 2019.  </b></li>
<li>Organizer of the <a href="http://www.biophysics.org/Meetings/AnnualMeeting/FutureAnnualMeetings/tabid/495/Default.aspx"> 63rd Annual Meeting of the Biophysical Society</a>, Baltimore, MD,<b> Mar 2-6, 2019.</b></li>
<li>Seminar in Physical Chemistry Series at the <a href="URL">University of Illinois</a>, Urbana-Champaign,<b> February 2, 2019.</b></li>
<li>Seminar at the <a href="URL"> Rockefeller University, Sloan Kettering Institute, and Cornell Medical School</a>, New York City,<b> November 19, 2018.</b></li>
<li>Speaker at the <a href="https://www.fusion-conferences.com/conference71.php"> 3rd DNA Replication and Repair Structures & Cancer Conference</a>, Cancun, Mexico,<b> Feb 11-15, 2018.</b></li>
<li>Organizer and Speaker at the <a href="http://www.salilab.org/cabo"> 28th Scripps/UCSF Conference</a>, Cabo San Lucas, Mexico,<b> May 5-8, 2018.</b></li>
<li>Keynote Speaker at the <a href="http://bijvoet-center.eu/education/symposium/"> 2018 Annual Symposium of the Bijvoet Center of Biomolecular Research</a>, Utrecht, Netherlands,<b> Apr 23-24, 2018.</b></li>
<li>Lecture in the Structural Biology Course at the<a href="http://www.scripps.edu"> Scripps Research Institute</a> San Diego, CA, USA    <b>   March 8-9, 2018.  </b></li>
<li>Speaker at the <a href="https://www.fusion-conferences.com/conference71.php"> 3rd DNA Replication and Repair Structures & Cancer Conference</a>, Cancun, Mexico,<b> Feb 11-15, 2018.</b></li>
<li>Speaker at the <a href="http://www.keystonesymposia.org/18F1"> 2018 Keystone Symposia on Cryo-EM from Cells to Molecules: Multi-Scale Visualization of Biological Systems</a>, Granlibakken, CA,<b> Feb 4-9, 2018.</b></li>
<li>Speaker at the <a href="https://www.embl.de/training/events/2017/JKS17-01/"> Revolutions in Structural Biology: Celebrating the 100th anniversary of Sir John Kendrew</a>, EMBL, Heidelberg, Germany,<b> Nov 16-17, 2017.</b></li>
<li>Speaker at the <a href="http://www.embo-embl-symposia.org/symposia/2017/EES17-10/">EMBL/EMBO Symposium: From Single- to Multiomics: Applications and Challenges in Data Integration</a>, Heidelberg, Germany<b>, November 12-14, 2017.  </b></li>
<li>Speaker at the <a href="http://ihuman.shanghaitech.edu.cn/"> iHuman Institute at ShanghaiTech Symposium</a>, Shanghai, China,<b> Nov 7-8, 2017.</b></li>
<li>Seminar at the <a href="https://health.uconn.edu/graduate-school/academics/programs/ph-d-biomedical-science/molecular-biology-and-biophysics-graduate-program/faculty/"> Molecular Biology and Biophysics, University of Connecticut (UCONN Health)</a>, Farmington, CN,<b> Oct 25, 2017</b></li>
<li>Seminar at the <a href="https://qbi.ucsf.edu/cell-mapping-symposium"> Rockefeller University</a>, New York City, NY,<b> Oct 24, 2017</b></li>
<li>Speaker at the <a href="https://qbi.ucsf.edu/cell-mapping-symposium"> QBI 2017 Cell Mapping Symposium</a>, UCSF, San Francisco, CA,<b> Sep 13-14, 2017.</b></li>
<li>Speaker at the <a href="http://www.biophysics.org/2017berlin/Home/tabid/7036/Default.aspx"> Conformational ensembles from experimental data and computer simulations, Biophysical Society</a>, Berlin, Germany,<b> Aug 25-29, 2017.</b></li>
<li>Seminar at the <a href="http://mbu.iisc.ac.in"> Molecular Biophysics Unit, Indian Institute of Sciences</a>, Bangalore,<b> Aug 7, 2017.</b></li>
<li>Seminar at the <a href="URL"> Mysore College</a>, Mysore,<b> Aug 4, 2017.</b></li>
<li>Seminar at the <a href="http://www.iisc.ac.in"> Indian Institute of Sciences</a>, Bangalore,<b> Aug 3, 2017.</b></li>
<li>Seminar at the <a href="https://www.ncbs.res.in"> National Center for Biological Sciences</a>, Bangalore,<b> Aug 2, 2017.</b></li>
<li>Seminar at the <a href="http://www.unipune.ac.in/snc/institute_of_bioinformatics_and_biotechnology/"> Institute of Bioinformatics and Biotechnology, Pune University</a>, Pune,<b> Aug 1, 2017.</b></li>
<li>Seminar at the <a href="http://www.iiserpune.ac.in"> Indian Institute of Science Education and Research</a>, Pune,<b> Jul 31, 2017.</b></li>
<li>Seminar at the <a href="http://www.aca.edu.in"> Ahmednagar College</a>, Ahmednagar,<b> Jul 28, 2017.</b></li>
<li>Seminar at the <a href="http://www.bamu.ac.in"> Dept. of Chemistry, Dr. Babasaheb Ambedkar Marathwada University</a>, Aurangabad,<b> Jul 26, 2017.</b></li>
<li>Seminar at the <a href="http://www.tifr.res.in"> Tata Institute for Fundamental Research</a>, Mumbai,<b> Jul 24, 2017.</b></li>
<li>Seminar at the <a href="http://sophiacollegemumbai.com"> Sophia College for Women</a>, Mumbai,<b> Jul 24, 2017.</b></li>
<li>Organizer and Speaker at the <a href="http://www.salilab.org/cabo"> 27th Scripps/UCSF Conference</a>, Cabo San Lucas, Mexico,<b> May 6-9, 2017.</b></li>
<li>Speaker at the <a href="https://www.keystonesymposia.org/17C5"> Frontiers of NMR in Life Sciences</a>, Keystone, CO<b>, March 12-17, 2017.  </b></li>
<li>Speaker at the <a href="http://eurobioimaging.eu"> Bioimaging Data Repositories Workshop</a>, EMBL-EBI, Hinxton, UK,<b> Jan 23-24, 2017.</b></li>
<li>Organizer and Speaker at the <a href="http://www.ks.uiuc.edu/Training/Workshop/SanFrancisco2016/"> Computational Biophysics Workshop</a>, San Francisco<b> Dec 12-16, 2016.</b></li>
<li>Speaker at the <a href="http://www.imp.ac.at/the-imp/">Max F. Perutz Laboratories, The IMP</a>, Vienna, Austria<b>, June 28-29, 2016.  </b></li>
<li>Speaker at the <a href="http://mol.biol.ethz.ch">ETH Zurich Department of Biology Symposium</a>, Zurich, Switzerland<b>, June 13-15, 2016.  </b></li>
<li>Organizer and Speaker at the <a href="http://www.salilab.org/cabo"> 26th Scripps/UCSF Conference</a>, Cabo San Lucas, Mexico,<b> May 7-10, 2016.</b></li>
<li>Speaker at the <a href="http://www.casss.org/?HOS1605">5th International Symposium on Higher Order Structure of Protein Therapeutics</a>, Long Beach, USA<b>, April 12, 2016.  </b></li>
<li>Speaker at the <a href="https://www.asbmb.org/meeting2016/">2016 ASBMB Annual Meeting</a>, San Diego, USA<b>, April 6, 2016.  </b></li>
<li>Speaker at the <a href="http://embl.de">EMBL Distinguished Lecture Series</a>, Heidelberg, Germany<b>, January 12, 2016.  </b></li>
<li>Speaker at the <a href="http://www.qbm.lmu.de">Graduate School of Quantitative Biosciences Munich (QBM)</a>, Munich, Germany<b>, January 11, 2016.  </b></li>
<li>Speaker at the <a href="http://bioforum2015.shanghaitech.edu.cn">Advances in Integrative Biology of Cellular Processes</a>, Shanghai, China<b>, November 10-12, 2015.  </b></li>
<li>Seminar at <a href="http://www-chem.ucsd.edu">Department of Chemistry and Biochemistry, UCSD</a>, San Diego<b>, November 2-3, 2015.  </b></li>
<li>Speaker at the <a href="https://conf-slac.stanford.edu/ssrl-lcls-2015/content/workshops">2015 LCLS/SSRL Users’ Meeting</a>, LBNL, Berkeley, USA<b>, October 7, 2015.  </b></li>
<li>Speaker at the <a href="http://www.protein.osaka-u.ac.jp/index_e.php">Hybrid Methods Meeting</a>, Osaka, Japan<b>, October 2-4, 2015.  </b></li>
<li>Keynote Speaker at the <a href="http://febs3.sbd.si">FEBS3+ Meeting "Molecules of Life"</a>, Portoroz, Slovenia<b>,  September 16-19, 2015.  </b></li>
<li>Seminar at <a href="http://chem.usc.edu">Department of Chemistry, USC</a>, Los Angeles<b>, September 3, 2015.  </b></li>
<li>Speaker at the <a href="http://ihuman.shanghaitech.edu.cn">iHuman Institute, Shanghai Tech University</a>, Shanghai, China<b>,   July 27-31, 2015.  </b></li>
<li>Speaker at the <a href="http://www.proteinsociety.org/meetings/symposium/">29th Annual Symposium of the Protein Society</a>, Barcelona, Spain<b>,   July 22-25, 2015.  </b></li>
<li>Seminar at <a href="http://www.pasteur.fr/en">Pasteur Institute</a>, Paris<b>, June 24, 2015.  </b></li>
<li>Keynote Speaker at the <a href="http://www.grc.org/application.aspx">Gordon Research Conference on Computational Aspects of Biomolecular NMR</a> Il Ciocco, Italy<b>,   June 7-12, 2015.  </b></li>
<li>Seminar at the<a href="http://www.ohsu.edu/xd/"> Oregon Health and Science University</a> Portland, OR, USA<b>,   May 19, 2015.  </b></li>
<li>Organizer and Speaker at the <a href="http://www.salilab.org/cabo"> 25th Scripps/UCSF Conference</a>, Cabo San Lucas, Mexico,<b> May 3-6, 2015.</b></li>
<li>Seminar at the <a href="http://ufgi.ufl.edu">University of Florida Genetics Institute</a> Gainesville, FL, USA    <b>   April 14, 2015.  </b></li>
<li>Speaker at the <a href="http://www.acs.org/content/acs/en/meetings/spring-2015.html">249th ACS National Meeting & Exposition</a> Denver, CO, USA    <b>   March 22-25, 2015.  </b></li>
<li>Speaker at the <a href="http://www.ushupo.org/Conference2/GeneralInformation/tabid/63/Default.aspx">Annual Meeting of the U.S. Human Proteome Organization (US-HUPO)</a> Tempe, AZ, USA    <b>   March 15-18, 2015.  </b></li>
<li>Seminar at <a href="http://www.a-star.edu.sg">A*Star BII</a> Singapore    <b>   March 12-14, 2015.  </b></li>
<li>Seminar at the<a href="http://www.scripps.edu"> Scripps Research Institute</a> San Diego, CA, USA    <b>   February 26-27, 2015.  </b></li>
</ul>
<ul>
<li>Seminar at <a href="https://www.rutgers.edu">Rutgers University</a> New Brunswick, NJ, USA    <b>   October 29, 2014.  </b></li>
<li>Speaker at the <a href="http://www.issx.org/?page=Upcoming">International Society for the Study of Xenobiotics Meeting</a> San Francisco, CA, USA    <b>   October 19-23, 2014.  </b></li>
<li>Speaker at the <a href="http://www.wwpdb.org">PDB Hybrid Methods Task Force Meeting, EMBL-EBI</a> Hinxton, UK    <b>  October 6-7, 2014.  </b></li>
<li>Organizer of the <a href="https://martinkarplus.net">Martin Karplus Celebration Symposium</a> San Francisco, CA, USA    <b>  October 1, 2014.  </b></li>
<li>Speaker at the <a href="http://www.texasmedicalcenter.org">NCI Workshop at the Houston Methodist Research Institute at Texas Medical Center</a> Houston, TX, USA    <b>   September 18-19, 2014.  </b></li>
<li>Speaker at the <a href="http://www.journals.elsevier.com/journal-of-molecular-biology/news/in-the-bay-area-attend-the-free-symposium-emerging-paradigms/"> Peter Wright Symposium</a> San Francisco, CA, USA    <b>   September 15, 2014.  </b></li>
<li>Keynote Speaker at the <a href="http://www.rosettadesigngroup.com/index.php">2014 Annual RosettaCon</a> Leavenworth, WA, USA    <b>   July 30-Aug 1, 2014.  </b></li>
<li>Keynote Speaker at the <a href="http://www.bii.a-star.edu.sg/030.php">Emerging Trends in Computational Biology Conference</a> Singapore    <b>   June 20-21, 2014.  </b></li>
<li>Keynote Speaker at the <a href="http://www.grc.org/programs.aspx?year=2014&program=biopolym">Biopolymers Gordon Research Conference, Salve Regina University</a> Newport, RI, USA    <b>   June 1-6, 2014.  </b></li>
<li>Organizer and Speaker at the <a href="http://www.salilab.org/cabo"> 24th Scripps/UCSF Conference</a>, Cabo San Lucas, Mexico,<b> May 4-7, 2014.</b></li>
<li>Speaker at <a href="http://www.shanghaitech.edu.cn/en/en_index.asp">Shanghai Tech University</a> Shanghai, China    <b>   March 14-18, 2014.  </b></li>
<li>Seminar at <a href="http://www.berkeley.edu/index.html">UC Berkeley</a> Berkeley, CA, USA    <b>   March 10, 2014.  </b></li>
<li>Seminar at the<a href="http://www.scripps.edu">Scripps Research Institute</a> San Diego, CA, USA    <b>   February 24-25, 2014.  </b></li>
<li>Speaker at the <a href="http://www.lorneproteins.org/">Lorne Conference on Protein Structure and Function</a> Victoria, Australia    <b>   February 9-13, 2014.  </b></li>
<li>Seminar at <a href="http://www.columbia.edu">Columbia University</a> New York, NY, USA    <b>   February 5, 2014.  </b></li>
<li>Seminar at <a href="http://www.harvard.edu">Harvard University</a> Cambridge, MA, USA    <b>   February 3, 2014.  </b></li>
</ul>
<ul>
<li>Speaker at the<a href="http://meetings.nigms.nih.gov/index.cfm?event=general&ID=17429"> NIGMS 2013 Structural Biology Horizons Workshop</a>, Bethesday, MD, USA <b> December 9-10, 2013.</b></li>
<li>Speaker at the<a href="http://www.x-meeting.com"> Bioinformatics Meeting</a>, Recife, Brazil,<b> November 3-7, 2013.</b></li>
<li>Organizer and Speaker at the<a href="http://www.salilab.org/cabo"> 23nd Scripps/UCSF Conference</a>, Cabo San Lucas, Mexico,<b> May 5-8, 2013.</b></li>
<li>Speaker at the <a href="http://www.asbmb.org/Meetings_01/2013mtg/2013Annualmtghome.aspx">ASBMB Annual Meeting</a> Boston, MA, USA    <b>   April 21, 2013.  </b></li>
<li>Speaker at the <a href="http://www.hwi.buffalo.edu">Hauptman-Woodward Institute</a> Buffalo, NY, USA    <b>   March 28, 2013.  </b></li>
<li>Speaker at the <a href="http://www.nibib.nih.gov/Research/ResourceCenters">NIH P41 BTRC Directors Meeting</a> Bethesda, MD, USA    <b>   March 18, 2013.  </b></li>
<li>Speaker at <a href="http://www.scripps.edu/research/iscb/">Graduate Seminars, The Scripps Research Institute</a> San Diego, CA, USA    <b>   March 14-15, 2013.  </b></li>
<li>Speaker at the <a href="http://www.scripps.edu/research/chem_affinity/index.html">Structure and Computation Seminar Series, The Scripps Research Institute</a> San Diego, CA, USA    <b>   March 14, 2013.  </b></li>
<li>Speaker and Organizer at the <a href="http://www.keystonesymposia.org/13C1">Structural Analysis of Supramolecular Assemblies by Hybrid Methods</a> Lake Tahoe, CA, USA    <b>   March 3-7, 2013.  </b></li>
<li>Speaker at <a href="http://www.chem.fsu.edu/seminars.php">Florida State University</a> Tallahassee, FL, USA    <b>   February 15, 2013.  </b></li>
<li>Speaker at the <a href="http://sigs.nih.gov/sbig/Pages/default.aspx">NIH Structural Biology Interest Group Seminar</a> Bethesda, MD, USA    <b>   January 17, 2013.  </b></li>
<li>Speaker at the <a href="http://www.biozentrum.unibas.ch/">Biozentrum Lecture on Integrative Structural Biology, University of Basel</a> Basel, Switzerland    <b>   January 15, 2013.  </b></li>
<li>Speaker at the <a href="http://ibi.epfl.ch/">Swiss Federal Institute of Technology</a> Lausanne, Switzerland    <b>   January 14, 2013.  </b></li>
</ul>
<ul>
<li>Speaker at the <a href="http://nramm.scripps.edu/?page_id=2424">NRAMM Workshop, Scripps</a> San Diego, CA    <b>   November 16, 2012.  </b></li>
<li>Plenary Speaker at the <a href="http://www.mm2012.org.nz/">Molecular Modeling Meeting </a> Queenstown, New Zealand    <b>   August 30 - September 1, 2012.  </b></li>
<li>Speaker at the <a href="http://www.pasteur.fr/infosci/conf/sb/ICMRBS/">XXVth ICMRBS Conference </a> Lyon, France    <b>   August 19-24, 2012.  </b></li>
<li>Keynote Speaker at the <a href="http://www.iscb.org/ismb2012-program/1015-ismb2012">ISMB </a> Long Beach, CA, USA    <b>   July 14-17, 2012.  </b></li>
<li>Organizer of the<a href="http://www.salilab.org/cabo"> 22nd Scripps/UCSF Conference</a>, Cabo San Lucas, Mexico,<b> May 6-9, 2012.</b></li>
<li>Co-organizer of the <a href="http://www.hybridmethodsconference.com/lodging.html">6th International Conference on Structural Analysis of Supramolecular Assemblies by Hybrid Methods </a> Lake Tahoe, CA, USA,     <b>   March 14-18, 2012.  </b></li>
<li>Seminar at the <a href="http://www.scripps.edu/">The Scripps Research Institute</a> San Diego, CA, USA    <b>   March 1-2, 2012.  </b></li>
<li>Seminar at the <a href="http://www.ccmb.med.umich.edu/events/seminars">University of Michigan</a> Ann Arbor, MI, USA    <b>   February 15, 2012.  </b></li>
<li>Speaker at the <a href="http://www.lilly.com/Pages/home.aspx">Eli Lilly Symposium</a> Indianapolis, IN, USA    <b>   February 13-14, 2012.  </b></li>
<li>Speaker and Co-Organizer of the <a href="http://www.keystonesymposia.org/">Keystone Symposia on High Throughput Structural Biology </a> Keystone, CO, USA,    <b>   January 22-27, 2012.  </b></li>
</ul>
<ul>
<li>Seminar at <a href="http://medschool.duke.edu/modules/som_academic/index.php?id=13">Duke University </a> Durham, NC, USA,    <b>   November 18, 2011.  </b></li>
<li>Seminar at <a href="http://www.stjuderesearch.org/guy/">St. Jude Children's Research Hospital </a> Memphis, TN, USA,    <b>   November 15, 2011.  </b></li>
<li>Speaker at the <a href="http://meetings.cshl.edu/meetings/pdb40.shtml">Worldwide Protein Data Bank (wwPDB) Symposium </a> Cold Spring Harbor Laboratory, Cold Spring Harbor, New York, USA, <b>October 28-31, 2011</b></li>
<li>Plenary Speaker at the <a href="http://www.asbmb.org.au/combio.html">Combio 2011 </a> Cairns Convention Center, Cairns, Australia, <b>September 26-29, 2011</b></li>
<li>Speaker at the <a href="http://bts.ucsf.edu/">Accelerating Predictive Drug Development Through Quantitative Pharmacology Symposium</a> University of California, San Francisco, California, USA, <b>September 22-23, 2011</b></li>
<li>Workshop and Symposium at  <a href="http://depts.washington.edu/mcb/">Institute for Systems Biology</a> University of Washington, Seattle, Washington, USA, <b>July 24-27, 2011</b></li>
<li>Speaker at  <a href="http://www.neuro.mpg.de/english/index2.html">Max Planck Institute</a> Munich, Germany <b>July 20-21, 2011</b></li>
<li>Speaker at  <a href="http://www.igbmc.fr/index_uk.html">IGBMC</a> Strasbourg, France <b>July 18-19, 2011</b></li>
<li>Keynote Speaker at the <a href="http://www.sanfordburnham.org/research_and_faculty/scientific_lectures_seminars.aspx">Sanford-Burnham Structural Systems Biology Symposium </a> La Jolla, California, USA, <b>June 7, 2011</b></li>
<li>Speaker at the <a href="http://www.icsg2011.org/">International Conference on Structural Genomics </a> University of Toronto, Toronto, Ontario, Canada, <b>May 10-14, 2011</b></li>
<li>Organizer and Speaker at the<a href="http://www.salilab.org/cabo"> Scripps/UCSF Conference</a>, Cabo San Lucas, Mexico,<b> May 1-4, 2011.</b></li>
<li>Speaker at the <a href="http://www.ipam.ucla.edu/programs/ccsws1/">Design of Drugs and Chemicals that Influence Biology Workshop </a> University of California, Los Angeles, CA, USA, <b>April 4-8, 2011</b></li>
</ul>
<ul>
<li>Speaker at the <a href="http://www.dbs.nus.edu.sg/structbio2010/">6th International Conference on Structural Biology and Functional Genomics </a> National University of Singapore, Singapore <b>December 6-8, 2010</b></li>
<li>Seminar at <a href="http://www-chem.ucsd.edu/">University of California </a> San Diego, CA, USA, <b>December 12, 2010</b></li>
<li>Speaker at the <a href="http://www.bioinformatics.ku.edu/conferences">MPI Meeting </a> University of Kansas, Lawrence, KS, USA, <b>October 28-30, 2010</b></li>
<li>Seminar at <a href="http://www.biosci.ohio-state.edu/~biochem/">Ohio State University </a> Columbus, OH, USA, <b>October 26, 2010</b></li>
<li>Seminar at <a href="http://www.vanderbilt.edu/oor/cores/strucbio.php">Vanderbilt University </a>, Nashville, TN, USA, <b>October 12, 2010</b></li>
<li>Speaker at the <a href="http://www.molgen.mpg.de/">MPIMG Dahlem Colloquia in Molecular Genetics  </a> Max Planck Institute, Berlin, Germany    <b>   August 22-24, 2010.  </b></li>
<li>Speaker at the <a href="http://www.iscb.org/ismb2010">18th International Conference on Intelligent Systems for Molecular Biology (ISMB 2010)  </a> Boston, MA, USA,    <b>   July 11-13, 2010.  </b></li>
<li>Speaker at the <a href="http://www.ebi.ac.uk/~rafi/3dsig09/Home.html">3DSIG Meeting (ISMB Satellite)  </a> Boston, MA, USA,    <b>   July 9-10, 2010.  </b></li>
<li>Speaker at the <a href="http://www.ismb.lon.ac.uk/events.html">Institute of Structural and Molecular Biology (ISMB)  </a> London, UK,    <b>   June 17-18, 2010.  </b></li>
<li>Speaker at the <a href="http://pharmacology.case.edu/">Structural Biology Symposium </a> Case Western Reserve University, Cleveland, OH, USA,     <b>   May 19, 2010.  </b></li>
<li>Organizer and Speaker of the<a href="http://www.salilab.org/cabo"> Scripps/UCSF Conference</a>, Cabo San Lucas, Mexico,<b> May 2-5, 2010.</b></li>
<li>Speaker at the <a href="http://www.hybridmethods2010.com/index.html">5th International Conference on Structural Analysis of Supramolecular Assemblies by Hybrid Methods </a> Lake Tahoe, CA, USA,     <b>   March 10-14, 2010.  </b></li>
<li>Chair and Speaker at the <a href="http://www.biophysics.org/Default.aspx?alias=www.biophysics.org/2010meeting">Biophysical Society 54th Annual Meeting </a> San Francisco, CA, USA,     <b>   February 20-24, 2010.  </b></li>
<li>Speaker at the <a href="http://ncmi.bcm.edu/ncmi/events/workshops/workshops_108/workshop_home_html">Modeling of Cryo-EM Map Workshop </a> Baylor College of Medicine, Houston, TX, USA,    <b>   January 14-17, 2010.  </b></li>
<li>Speaker and Co-Organizer of the <a href="http://www.keystonesymposia.org/">Keystone Symposia on Structural Biology/Structural Genomics </a> Steamboat Springs,CO, USA,    <b>   January 8-13, 2010.  </b></li>
</ul>
<ul>
<li>Seminar at the <a href="http://www.uni-lj.si/en/">University of Ljubljana </a>  Ljubljana, Slovenia <b>December 17, 2009</b></li>
<li>Seminar at the <a href="http://ctbs.rice.edu/index.html">Annual Computational and Theoretical Biology Symposium</a>. Houston, TX , USA.<b> December 4-6, 2009.</b></li>
<li>Seminar at the <a href="http://college.usc.edu/bisc/home/">University of Southern California</a>. Los Angeles, CA,USA.<b> November 19, 2009.</b></li>
<li>Speaker at the <a href="http://www.beckman.illinois.edu/index.aspx">Beckman Institute 20th Anniversary Symposium, University of Illinois at Urbana-Champaign, </a> Urbana, IL, USA,  <b>  September 20-23, 2009.</b></li>

<li>Speaker at the <a href="http://bts.ucsf.edu/pspg/events/retreat2009.html">Pharmaceutical Sciences and Pharmacogenomics Retreat</a> Tomales Bay, CA, USA,  <b>  September 9-10, 2009.</b></li>
<li>Speaker at the <a href="http://www.proteinsociety.org/">23rd Annual Symposium of the Protein Society </a> Boston, MA, USA,  <b>  July 25-29, 2009.</b></li>


<li>Speaker at <a href="http://www8.utsouthwestern.edu/utsw/home/research/biochem/index.html"> University of Texas Southwestern </a> Dallas, TX, USA,<b> May 20-21, 2009.</b></li>

<li>Speaker at <a href="http://www.compbio.iupui.edu/"> IUPUI </a> Indianapolis, IN, USA,<b> May 18, 2009.</b></li>

<li>Speaker at the <a href="http://depts.washington.edu/biowww/"> University of Washington </a> Seattle, WA, USA,<b> May 14, 2009.</b></li>

<li>Speaker at the <a href="http://www.cbs.umn.edu/BMBB/seminars/current.shtml"> University of Minnesota </a> Minneapolis, MN, USA, <b> April 22, 2009.</b></li>

<li>Speaker at the <a href="http://www.systemsbiology.org/symposium/schedule.html"> 2009 Symposium on Molecular Systems Biology or the Cell</a>, Seattle, WA, USA,   <b> April 19-20, 2009.  </b></li>

<li>Speaker at the <a href="http://palladianpartners.com/TCNP-Meeting"> TCNP Meeting</a> Washington DC,  <b>   March 12-13 2009.</b></li>

<li>Speaker at the McDowell Lecture at<a href="http://www.ubc.ca/"> the University of British Columbia</a> Vancouver, BC, Canada,  <b>   March 10, 2009.</b></li>

<li>Speaker at the <a href=http://papoian.chem.unc.edu/MesillaSchedule.html>Mesilla Chemistry Workshop Multi- Scale Modeling of Biological Molecules </a> Mesilla, NM, USA <b>  February 1-4,  2009.</b></li>

<li>Speaker at the <a href="http://www.upenn.edu/">University of Pennsylvania School of Medicine</a> Philadelphia, PA, USA,<b> January 29, 2009.</b></li>
</ul>
<ul>

<li>Speaker at the NCMI Single Particle Reconstruction Workshop<a href="http://www.baylor.edu/"> Baylor College of Medicine</a>Houston, TX, USA,<b> December 10-13, 2008.</b></li>

<li>Speaker at the<a href="http://www.structuralgenomics.org/"> Biological and Medical Informatics/Biophysics/Chemistry and Chemical Biology Graduate Groups Retreat</a>Monterey, CA, USA,<b> December 7-9, 2008.</b></li>

  <li>Speaker at the<a href="http://www.structuralgenomics.org/"> University of Texas Southwestern Medical Center</a>, Dallas, TX, USA, <b> November 5-6,  2008.</b></li>
              
              <li>Speaker at the<a href="http://www.structuralgenomics.org/"> Protein Structure Initiative (PSI3)</a>, Washington DC, USA, <b> October 29-30, 2008.</b></li>
             
             <li>Seminar at the<a href="http://www.mpi.org"> Max Planck Institute</a>, Student Workshop, Goettingen, Germany, <b> September 10-13 2008.</b></li>
          
          <li>Speaker at the 2008 Macromolecular Organization & Cell Function: Systems cell Biology,<a href="http://www.grc.org">  Gordon Research Conference</a>, Oxford, England, <b> July 27-August 1, 2008.</b></li>
       
	   <li>Speaker at the 2008 Senior Vice Chancellor's Laureate Lecture Series<a href="http://www.mpi.org">at the University of Pittsburgh</a>, <b> July 18 2008.</b></li>
	   <li>Speaker and Organizer of the<a href="http://www.proteinmodelportal.org/workshop"> Protein Modeling Workshop</a>, University of California, San Francisco, CA, USA,, <b> July 11-12 2008.</b></li>          
    <li>Seminar at the<a href="http://www.buckinstitute.org/site/"> The Buck Institute for Age Research</a>, Novato, CA, USA,  <b> July 1 2008.</b></li>       
          
	      <li> Speaker at the <a href="http://www.crystalerice.org/futuremeet.htm">40th Course of the International School of Crystallography</a>: From Molecules to Medicines Integrating Crystallography in Drug Discovery,Erice, Italy.  <b>May 29 - June 8, 2008</b>. </li>
		      <li>Organizer and Speaker of the<a href="http://www.salilab.org/cabo"> Scripps/UCSF Conference</a>, Cabo San Lucas, Mexico,<b> May 4-8, 2008.</b></li>
		    <li>Invited Speaker at the<a href="http://www.bc2.ch/center/conference.htm"> Basel Computational Biology Conference [BC]2 </a>, Basel, Switzerland,<b> March 13-14, 2008.</b></li>
            <li>Seminar at the<a href="http://www.utah.edu/"> University of Utah, </a>, <b>February 25 2008.</b></li>
		    <li>	Invited Speaker at the<a href="http://www.rockefeller.edu/"> Biochemical and Biophysical Methods Course at the Rockefeller University </a> New-York, NY, USA,<b> January 30 2008.</b></li>
		    <li> Invited Speaker at the<a href="http://www.f.u-tokyo.ac.jp/index-e.html"> Symposium on Structural Biology and its Application to Drug Development, </a>Tokyo, Japan,<b> January 28, 2008.</b></li>
			<li>	Invited Speaker at the<a href="http://www.keystonesymposia.org/"> Keystone Symposium </a>on Structural Genomics and Its Applications to Chemistry, Biology and Medicine, Steamboat Springs, Colorado, CO, USA,<b> January 6-11 2008.</b></li>
</ul>
<ul>
		<li>Seminar at the <a href="http://www.duke.edu/">Duke University Computational Biology Series</a>. Durham, NC,USA.<b> November 12, 2007.</b></li>
		 	 	 <li>Seminar at the <a href="http://www.unc.edu/">Carolina Center for Genomic Sciences Colloquium, UNC</a>. Chapel Hill, NC,USA.<b> November 9, 2007.</b></li>
		 	 <li>Seminar at the <a href="http://www.ucb.edu/">University of California, Berkeley</a>.Berkeley,CA,USA.<b> October 25, 2007.</b></li>
		 <li>Seminar at the <a href="http://www.aecom.yu.edu/">Albert Einstein College of Medicine</a>. New-York, NY,USA.<b> October 16, 2007.</b></li>
		 <li>Speaker and Organizer of the Modeling of Protein Interactions Meeting, MPI-2007, Lawrence, KA, USA, <b>September 30-October 2, 2007</b></li>
		 <li>Seminar at the <a href="http://www.gene.com/">SCRIPPS Institute</a>. La Jolla, CA,USA.<b> September 27-28, 2007.</b></li>
		  <li>Seminar at <a href="http://www.gene.com/">Genentech</a>. San Francisco, CA,USA.<b> September 25, 2007.</b></li>
		    <li>Invited Speaker at the annual PDBAC meeting, Princeton, New Jersey, USA. <b>September 6, 2007.</b></li>
		    <li>Invited Speaker at The <a href="http://www.systemsbiology.org/">Institute for Systems Biology</a>. Seattle, WA,USA.<b> July 12, 2007.</b></li>
		  <li>Invited Speaker at The <a href="http://ctbp.ucsd.edu/">Center for Theoretical Biological Physics</a>. UCSD,San Diego USA.<b> June 1st, 2007.</b></li>
		  <li>Speaker at <a href="http://proteinfoldingcenter.org/">The Protein Folding Center</a>  Annual Retreat, Stanford, CA, USA.<b> May 27-29 2007</b></li>
	     <li>Invited Speaker at <a href="http://www.biochem.mpg.de/en/news/conferences/index.html">the Protein Complexes and Protein Networks Symposium,</a> Max Plank Institute of Biochemistery, Martinsried, Germany,<b> May 21-22, 2007</b></li>
	     <li>Organizer and Speaker of <a href="http://www.ssalilab.org/cabo"> the Scripps/UCSF Conference.</a> Cabo San Lucas, Mexico. <b>April 29-May 2nd, 2007.</b></li>
	     <li>Speaker at the <a href="http://www.thesynapticleap.org/?q=node/140">Collaborative Drug Discovery meeting</a>, UCSF, San Francisco, USA. <b>March 1st 2007.</b></li>
</ul>
<ul>
	     <li>Speaker at the <a href="http://bioinformatics.ucsf.edu/current_events.html">BBC Joint Retreat</a>, Monterey, CA, USA.<b> December 3-5, 2006.</b></li>
	     <li>Speaker at the TDR/WHO Drug Target Selection Meeting in Seattle, OR, USA.<b> December 1st, 2006.</b></li>
         <li>Seminar at <a href="http://ccb.ucmerced.edu/">UC Merced Center for Computational Biology</a>, Merced, CA, USA.  <b>November 30, 2006</b>.</li>
         <li> Seminar at the Fifth Annual Systems Biology Course at <a href="http://www.systemsbiology.org">the Institute for Systems Biology,</a> Seattle, WA, USA.  <b>November 9, 2006</b>.</li>
         <li> Seminar at the University of Massachusetts, <a href="http://www.umassmed.edu/bmp/">Dept. of Biochemistry and Molecular Pharmacology,</a> Worcester, MA, USA.  <b>October 18, 2006</b>.</li>
	   
         <li> Symposium at Wyeth Research, Cambridge, MA, USA.  <b>October 16, 2006</b>. </li>
         <li> 	Seminar at NIH , Bethesda, MD, USA.  <b>October 11, 2006</b>.</li>
	   
	   
	  
       
         <li><a href="http://www.keystonesymposia.org/Meetings/ViewMeetings.cfm?MeetingID=818">2006 Keystone Symposium on Multi-Protein Complexes Involved in Cell Regulation,</a> St. John's College, Cambridge, UK.  <b>August 18-23, 2006</b>. </li>
	         
         <li> Seminar at UC Davis, CA, USA.  <b>June 1, 2006</b>. </li>

        <li><a href="http://www.sinica.edu.tw/~biophys/11TH/index.html">Plenary Speaker at the 11th Sympsosium on Recent Advances in Biophysics,</a> National Taiwan University, Taipei, Taiwan.  <b>May 23-26, 2006</b>.  </li>
	   
	   
       
         <li>Organizer and Speaker of the Theme <a href="http://salilab.org/sali_home_page/invited_presentations/ASBMB2006.pdf">"Macromolecular Structure and Dynamics"</a> with 4 Symposia,</a> <a href="http://asbmb.interliant.com/asbmb/site.nsf/web/7F6008CA94729FC5852570500068B279?OpenDocument">ASBMB 2006 meeting,</a> San Francisco, CA, USA.  <b>April 1-5, 2006</b>. </li>
</ul>
      
	   
<ul> <!-- end 2005 -->
	   
         <li> <a href="http://www.fourmentinguilbert.org/workshop">Speaker at the International Workshop M2CELL,</a> The Royal Abbey of Fontervraud, Paris, France. <b>December 4-6, 2005</b>.  </li>
       
		 
       
         <li> <a href="http://rcsb-modeling-workshop.rutgers.edu/">Workshop on Biological Macromolecular Structure Models, </a> The State University of New Jersey, Piscataway, NJ, USA.  <b>November 19-20, 2005</b>.  </li>
         <li> Seminar at the Novartis Institutes for BioMedical Research, Cambridge, MA, USA.  <b>November 9, 2005</b>. </li>
         <li> Seminar at the Biochemical and Biophysical Methods Course Fall 2005, The Rockefeller University, New York, NY, USA.  <b>October 11, 2005</b>. </li>
         <li> Keynote Speaker in <a href="http://www.iucr2005.it">XX Congress of the International Union of Crystallography,</a> Florence, Italy.  <b>August 23-31, 2005</b>.           </li>
       
	   
       
         <li><a href="http://www.grc.org/programs/2005/cadd.htm">GRC 2005 Computer-aided design meeting,</a> Tilton School, NH, USA.  <b>July 31 - August 5, 2005</b>.  </li>
      
      
      
        <li><a href="http://www.proteinsociety.org/pages/page00g.htm">19th Annual Symposium of the Protein Society,</a> Boston, MA, USA.  <b>July 30 - August 3, 2005</b>.  </li>
   
      <li> Speaker at SRI's Computational Biology series, <a href="http://www.sri.com/">SRI International</a>, Menlo Park, CA, USA.  <b>June 29, 2005</b>. </li>
        <li><a href="http://pub.nigms.nih.gov/generic_meeting/index.cfm?id=7">NIH Symposium on Structural Analysis of Large Assemblies: Sizing up the Challenges,</a> NIH campus in Bethesda, MD, USA. <b>June 2-3, 2005</b>.  </li>
      <li> Speaker at Frontiers in Compuational Biophysics Symposium, NIH campus in Bethesda, MD, USA.  <b>April 29-30, 2005</b>. </li> 
      <li><a href="http://www.abrf.org">ABRF meeting,</a> Plenary Speaker at Biomolecular Technologies:Discovery to Hypothesis, Savanah, Georgia, USA.  <b>February 5-8, 2005</b>.  </li>
      <li><a href="http://www.ch.ic.ac.uk/watoc/">Plenary Speaker at The 7th World Congress of the World Association of Theoretically Oriented Chemists (WATOC)</a>, Capetown, South Africa.  <b>January 16-21, 2005</b>.  </li>
 
</ul>
<ul> <!-- end 2004 -->
      <li>Biological and Medical Informatics/Biophysics/Chemistry and Chemical Biology Graduate Groups Retreat, Asilomar Conference Center, Pacific Grove, CA, USA.  <b>December 5-7, 2004</b>. </li>
      <li><a href="http://ncmi.bcm.tmc.edu/ncmi/events/workshops/workshops_47">Workshop of the Center of Protein Folding Machinery,</a> Stanford University, CA, USA.  <b>December 4-5, 2004</b>.  </li>
      <li><a href="http://www.icsg2004.org/">ICSG 2004 Meeting</a>, Washington, DC, USA.  <b>November 17-24, 2004</b>.</li>
      <li><a href="http://www.embl-heidelberg.de/conferences/StructBiol04/">EMBO conference on Structures in Biology</a>, EMBL, Heidelberg, Germany.  <b>November 10-13, 2004</b>. </li>
      <li> Seminar at Caltech, Pasadena, CA, USA.  <b>October 12, 2004</b>. </li>
      <li> Gladstone Scientific Retreat, Asilomar in Monterey County, CA, USA.  <b>May 18-20, 2004</b>. </li>
      <li> Fourteenth Annual World Molecular Engineering Network (WMEN) Conference (2004), San Jose del Cabo, Baja California Sur, Mexico.  <b>May 2-6, 2004</b>. </li>
      <li><a href="http://www.baygenomics.ucsf.edu">BayGenomics PGA </a>, UCSF, San Francisco, CA, USA  <b>April 27, 2004</b>.  </li>
      <li><a href="http://www.keystonesymposia.org/Meetings/ViewMeetings.cfm?MeetingID=672">2004 Keystone Symposium on Structural Genomics </a>, Snowbird Resort, Snowbird, Utah, USA  <b>April 13-19, 2004</b>.  </li>
      <li> Workshop on Structural Determination of Environmentally Responsive Gene (ERG) Products for Diagnostics & Drug Discovery (NIEHS/DERT), Snowbird Resort, Snowbird, Utah, USA <b>April 12-13, 2004</b>. </li>
      <li><a href="http://www.embl.de/~emhybrid/"> Workshop on Structural Analysis of Supramolecular Assemblies by Hybrid Methods</a>, Granlibakken Conference Center, Lake Tahoe, CA, USA.  <b>March 17-20, 2004</b>. </li>
      <li> Seminar at UCSC, Santa Cruz, CA, USA.  <b>March 11, 2004</b>. </li>
      <li> Seminar at Berkeley, Berkeley, CA, USA.  <b>March 8, 2004</b>. </li>
      <li><a href="http://www.grc.uri.edu/04sched.htm"> The Structural, Functional and Evolutionary Gordon Conference</a>, Four Points Sheraton Harbortown, Ventura, CA, USA.  <b>February 15-20, 2004</b>.  </li>
      <li><a href="http://www.usa-canada.les.org/2004winter/plenary.asp"> Licensing Executives Society meeting </a>, San Francisco, CA, USA.  <b>February 12, 2004</b>. </li>
      <li>Ringberg meeting, Schloss Ringberg, Germany.  <b>January 21-23, 2004</b>. </li>
      <li>University of Cologne, Cologne, Germany.  <b>January 19, 2004</b>. </li>
</ul>

<!-- START YEAR 2004 -->

<!-- END YEAR 2003 -->
<ul>

      <li>Biophysics/CCB Retreat, Asilomar Conference Center, Pacific Grove, CA, USA.  <b>December 7-9, 2003</b>. </li>
      <li>PSI Target Selection Workshop, Bethesda, MD, USA.  <b>November 13-14, 2003</b>. </li>
      <li>Seminar at Purdue University, West Lafayette, IN, USA.  <b>October 24-25, 2003</b>. </li>
      <li>NIGMS Homology Modeling Workshop, Bethesda, MD, USA.  <b>October 21-22, 2003</b>. </li>
      <li>Seminar at <a href="http://www.parc.com/">PARC</a>, Palo Alto, CA, USA.  <b>October 15, 2003</b>.        </li>
      <li><a href="http://ncmi.bcm.tmc.edu/ncmi/events/workshops/workshops_42"> Workshop on Visualization of Biological Complexes</a>, Four Points Sheraton Hotel, Emeryville, San Francisco Bay Bridge, CA, USA.  <b>October 11-12, 2003</b>.</li>
      <li>Seminar at Northeastern University, Boston, MA, USA.  <b>October 6, 2003</b>. </li>
      <li><a href="http://bio.ijs.si/sbd.htm">5th Meeting of the Slovenian Biochemical Society </a>, Ljubljana, Slovenia.  <b>September 24-28, 2003</b>.  </li>
      <li>Structure and Chemistry Seminar at Scripps, San Diego, CA, USA.  <b>September 18, 2003</b>. </li>
      <li><a href="http://www.ucsf.edu/dbps/events/retreat2003.html">2003 Pharmaceutical Sciences and Pharmacogenomics Retreat</a>, Marshall, CA, USA.  <b>September 11-13, 2003</b>.  </li>
      <li><a href="http://www.lbl.gov/pbd/gtl/workshops/index.htm">GTL and Beyond: Data and Computational Needs Workshop</a>, San Francisco, CA, USA.  <b>September 10-11, 2003</b>.  </li>
      <li>PSI workshop ond data management, NIH Campus, Bethesda, MD, USA.  <b>July 10-11, 2003</b>. </li>
      <li><a href="http://www.grc.uri.edu/03sched.htm#GRC">2003 Gordon Research Conference </a> on 3D Electron Microscopy of Macromolecules, Colby Sawyer College, New London, New Hampshire, USA.  <b>June 22-26, 2003</b>.  </li>
      <li>IBM Thomas J. Watson Research Center, New York, New York, USA.  <b>June 11, 2003</b>. </li>
      <li><a href="http://www.bioinformatics.buffalo.edu/current_buffalo/frontiers.html">?Frontiers in Bioinformatics? symposium</a>, Center of Excellence in Bioinformatics, University at Buffalo, Buffalo, New York, USA.  <b>June 6-8, 2003</b>. </li>
      <li>Seminar at Berkeley, Berkeley, CA, USA.  <b>May 16, 2003</b>. </li>
      <li> Fourteenth Annual World Molecular Engineering Network (WMEN) Conference, San Jose del Cabo, Baja California Sur, Mexico.  <b>May 4-8, 2003</b>. </li>
      <li>St. Jude Children?s Research Hospital, Memphis, TN, USA. <b>April 22, 2003</b>.  Genentech, Inc., South San Francisco, CA, USA. <b>April 29, 2003</b>. </li>
      <li> <a href="http://www.faseb.org/meetings/eb2003/">ASBMB meeting</a>, San Diego, California, USA. <b>April 11-15, 2003</b>.  </li>
      <li><a href="http://ncmi.bcm.tmc.edu/ncmi/events/workshops/workshops_37">NCRR sponsored Workshop on Structural Proteomics of Biological Complexes</a>, Bethesda, Maryland, USA. <b>April 7-8, 2003</b>.</li>
      <li><a href="http://www.keystonesymposia.org/"> Keystone Symposium in Proteomics: Technologies and Applications</a>, Keystone Resort in Keystone, Colorado, USA.  <b>March 25-30, 2003</b>.  </li>
    </ul>

<!-- START YEAR 2003 -->

<!-- END YEAR 2002 -->

    <ul>
      <li><a href="http://www.marcusevans.com/EVENTS/Life_Science_CFEventinfo.asp?RecID=6915"> Bioinformatics in Systems Biology</a>, New York, New York, USA. <b>December 4-5, 2002</b>. </li>
      <li>Genomics and Bioinformatics Center Inaugural Symposium, Pontificia Universidad Catolica, Santiago, Chile. <b>November 18-20, 2002</b>. </li>
      <li> Bioinformatics seminar,  Texas A&M University, Tamu, TX, USA. <b>November 7, 2002</b>. </li>
      <li><a href="http://www.biomodel.msu.edu">Center for Biological Modeling</a>, Michigan State University, East Lansing, Michigan, USA. <b>September 27, 2002</b>.</li>
      <li><a href="http://palm.bioc.columbia.edu/links/nycbs/nycbs.html ">NYCBS New York Computational Biology Society seminar </a>, New York Academy of Sciences, New York, New York, USA. <b>September 18, 2002</b>. </li>
      <li>The 19th Congress and General Assembly of the International Union of Crystallography <a href="http://www.kenes.com/iucr">IUCR</a>, Geneva, Switzerland.  <b>August 6-15, 2002</b>.        </li>
      <li>Gordon Conference on <a href="http://www.sb.fsu.edu/~chapman/Home/Gordon/diffraction_methods_summary.htm">Diffraction Methods in Structural Biology</a>, Connecticut College, New London, Connecticut, USA.  <b>July 14-19, 2002</b>.        </li>

      <li>Berkeley-Stanford summer school for protein crystallography, <a href="http://smb.slac.stanford.edu/SR-School/2002.html">SSRL </a>, Stanford, California, USA.  <b>July 8-12, 2002</b>.        </li>
      <li><a href="http://meetings.cshl.org/2002cryst.htm">The 5th Summer Session of the New York Structural Biology Discussion Group </a>, Cold Spring Harbor Laboratory, New York, USA.  <b>June 26, 2002</b>.  </li>
      <li>50th ASMS conference <a href="http://www.asms.org">American Society of Mass Spectrometry</a>, Orlando, Florida, USA.  <b>June 2-6, 2002</b>.            </li>
      <li><a href="http://www.mshri.on.ca/">Samuel Lunenfeld Research Institute</a>, Toronto, Canada. <b>May 29, 2002</b>.  </li>
      <li>University of Barcelona, Barcelona, Spain. <b>May 21, 2002</b>. Genomics & Proteomics meeting, Barcelona, Spain.  <b>May 22, 2002</b>. </li>
      <li>SCBMB Program, Baylor College of Medicine, Houston, Texas, USA. <b>May 15, 2002</b>.  </li>
      <li><a href="http://www.biophysics.org/discussions/">A Workshop on large biological structures</a>, Asilomar, California, USA. <b>April 20-22, 2002</b>. </li>
      <li>UCSF, San Francisco, California, USA. <b>April 15, 2002</b>. </li>
      <li>Molecular Cell Biology and Biochemistry Seminar Series, Virginia Tech, Blacksburg, Virginia, USA. <b>April 5, 2002</b>. </li>
      <li>Harvard University, Cambridge, Massachusetts,USA. <b>March 28, 2002</b>.  </li>
      <li><a href="http://www.udel.edu/engg/outreach/Proteomics.htm">Proteomics-The New Frontiers: Discovery, Separation, Prediction & Modeling</a>, University of Delaware, Newark, Delaware, USA. <b>March 14-15, 2002</b>. </li>
      <li>New York City Blood Centre, New York, New York, USA. <b>March 7, 2002</b>. </li>
      <li> Biological Processes for New and Innovative Engineering Systems and Applications, ARO workshop, Research Triangle Park, North Carolina, USA. <b>February 26-27, 2002</b>.  </li>
      <li>Mining the Human Genome for New Drug Discovery - New Ways of Handling Orphan Targets.  <a href="http://www.nyas.org/">NYAS</a>, New York, New York, USA.  <b>February 26, 2002</b>.</li>
      <li><a href="http://mcbi-34.med.nyu.edu/events/seminar/seminar_list.php?category=Genomics">Genomics Seminar Series</a>, Skirball Institute, New York, New York, USA.  <b>February 6, 2002</b>.  </li>
    </ul>

<!-- START YEAR 2002 -->

<!-- END YEAR 2001 -->
    <ul>
      <li>Bioinformatics & Proteomics: From Sequence to Function, Lausanne, Switzerland.  <b>December 6, 2001</b>.  </li>
      <li>University of Zuerich, Zuerich, Switzerland. <b>December 5, 2001</b>. </li>
      <li><a href="http://www.md.huji.ac.il/conf/mast-meeting/">Mast Cell Workshop</a>, Bethesda, Maryland, USA. <b>November 26-30, 2001</b>. </li>
      <li>Genomics & Proteomics meeting, Barcelona, Spain. <b>October 19, 2001</b>. </li>
      <li>University of Maryland, Maryland, USA. <b>October 2, 2001</b>.  Columbia University, New York, New York, USA. <b>October 15, 2001</b>.  </li>
      <li> 4th International Conference on Molecular Structural Biology, ICMSB2001, Vienna, Austria. <b>September 5-9, 2001</b>.  </li>
      <li>ACS Meeting, Chicago, Illinois, USA. <b>August 26-30, 2001</b>.</li>
      <li>4th International Conference on Biological Physics, ICBP2001, Kyoto, Japan. <b>July 30-August 3, 2001</b>. </li>
      <li>Math/Chem/Comp 2001, Dubrovnik, Croatia. <b>June 25-30, 2001</b>.  </li>
      <li>Annual meeting of the Canadian Society for Biochemistry and Molecular and Cellular Biology (CSBMCB), Toronto, Canada. <b>May 31-June 3, 2001</b>.  </li>
      <li>Physics/Chemistry. CSUN, Northridge, California, USA. <b>May 2, 2001</b>.  </li>
      <li>Bard College, New York, USA. <b>April 18, 2001</b>.  </li>
      <li>UAB, Birmingham, Alabama, USA. <b>February 26, 2001</b>.  Structural Genomics and Bioinformatics, Instituto Juan March, Madrid, Spain. <b>March 12-14, 2001</b>.  </li>
      <li>Oncogenomics: Dissecting Cancer Through Genome Research, Nature Genetics, Tuscon, Arizona, USA.  <b>January 25-27, 2001</b>.  </li>
    </ul>

<!-- START YEAR 2001 -->

<!-- END YEAR 2000 -->
    <ul>
      <li>University of Minnesota, Minneapolis, Minnesota, USA.  <b>November 27, 2000</b>.  </li>
      <li>Genomics and Bioinformatics, UMD, New Brunswick, New Jersey, USA. <b>November 2, 2000</b>. </li>
      <li>Workshop on Structural Genomics. NIGMS, Washington DC, USA. <b>October 23, 2000</b>. </li>
      <li> Monsanto/Pharmacia lectureship series, Univ. of Saint Louis, Missouri, USA. <b>September 28, 2000</b>.  </li>
      <li>2000 FASEB Summer Research Conference on Protein Folding in the Cell, Saxton River, Vermont, USA. <b>July 22-27, 2000</b>.</li>
      <li>Biopolymers Gordon Conference, Newport, Rhode Island, USA. <b>June 18-22, 2000</b>.  </li>
      <li> Bioinformatics 2000, Elsinore, Denmark. <b>April 28, 2000</b>.  Computational Challenges of the Post Genomic Age, SUN, San Francisco, California, USA. <b>May 12, 2000</b>. </li>
      <li>Bio2000, Boston, Massachusetts, USA. <b>March 28, 2000</b>.</li>
      <li>Keystone Symposium on Macromolecular Assemblies at Work: Application of Physics, Chemistry, and Mathematics to Biology, Durango, Colorado, USA. <b>March 25, 2000</b>.  </li>
      <li>AAAS conference, Washington DC, USA. <b>March 20, 2000</b>.  </li>
      <li>ABRF 2000 ``From Singular to Global Analyses of  Biological Systems'', Bellevue, Washington, USA. <b>February 22, 2000</b>.  </li>
      <li>Biological Chemistry Seminar Series, University of Penn, Philadelphia, Pennsylvania, USA. <b>February 17, 2000</b>. </li>
      <li>Center for Physics and Biology, Rockefeller University,New York, New York, USA. <b>January 24, 2000</b>.  </li>
      <li>UCSF, San Francisco, California, USA. <b>January 20, 2000</b>. </li>
      <li>UCSD, Dept of Physics, San Diego, California, USA. <b>January 19, 2000</b>.  </li>
        <li>Japan Biophysical Society Meeting, Tokyo, Japan. <b>January 17, 2000</b>.  </li>
      <li>Quantitative Challenges in the Post Genomic Sequence Era, La Jolla Interfaces in Science, San Diego, California, USA. <b>January 12, 2000</b>.</li>
    </ul>

<!-- START YEAR 2000 -->

<!-- END YEAR 1999 -->
    <ul>
      <li>University of Toronto, Toronto, Canada.  <b>December 9, 1999</b>.  </li>
      <li>BRI, Montreal, Canada. <b>November 24, 1999</b>. </li>
      <li>Structural Genomics and the Pharmaceutical Industry, Princeton, New Jersey, USA. <b>November 18, 1999</b>.  </li>
      <li>Structural Genomics Conference, ANL, Chicago, Illinois, USA. <b>November 16, 1999</b>.  </li>
      <li>Second International Georgia Tech Conference in Bioinformatics, Atlanta, Georgia, USA. <b>November 12, 1999</b>.  </li>
      <li>City College of New York, New York, USA. <b>October 20, 1999</b>.  Agouron Pharmaceuticals, San Diego, California, USA. <b>October 28, 1999</b>.  </li>
      <li>Mathematical Problems in the Molecular Sciences, Courant Institute, New York, New York, USA. <b>October 10, 1999</b>.  </li>
      <li>Frontiers in Structural Biology, Indian Institute of Science, Bangalore, India. <b>August 27, 1999</b>.  </li>
      <li>The Scripps Institute, La Jolla, California, USA. <b>August 13, 1999</b>.  </li>
      <li>Structural Biology Net, Tallberg, Sweden. <b>June, 1999</b>.  </li>
      <li>Data Mining in Crystallography, Erice, Italy. <b>May 15, 1999</b>.  </li>
      <li>Protein Sequence Structure Function Meeting, UCSF, San Francisco, California, USA. <b>April 23, 1999</b>.  </li>
      <li>CERCA CADD Symposium, Montreal, Canada. <b>April 13, 1999</b>.  </li>
      <li>Chemistry Dept., New York University, New York, New York, USA. <b>???, 1999</b>.  </li>
      <li>Columbia University, New York, New York, USA. <b>???, 1999</b>.  </li>
      <li>Mount Sinai School of Medicine, New York, New York, USA. <b>March 19, 1999</b>.</li> <li> New York Structural Biology Group, New York Academy of Sciences, New York, New York, USA. <b>March 24, 1999</b>.  </li>
      <li>Advances & Opportunities at the Biology/Math/Computational/Physical Sciences Interface, Rutgers University, New Brunswick, New Jersey, USA.  <b>March 6, 1999</b>.  </li>
      <li>Structural Genomics Targets Workshop, NIH, Washington DC, USA.  <b>February 11, 1999</b>.  </li>
    </ul>
</div> <!-- end div fullpart -->
<!-- InstanceEndEditable -->
</div> <!-- end div middle -->
{% endblock %}
